<div class="card ui-g-12 minHeight">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-1 ui-g-nopad">
            <button pButton type="button" *ngIf="!isView" icon="ui-icon-undo" (click)="clickedOnView();" tooltipPosition="bottom" pTooltip="{{'View Filter Forms' | translate}}"></button>
        </div>
        <div class="ui-g-6 ui-g-nopad top10">
            <span class="ui-panel-title title" *ngIf="isView">{{ 'Filter Forms' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="isAdd">{{ 'Add New Filter Form' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="!isAdd && !isView">{{ 'Update Filter Form' | translate }}</span>
        </div>
        <div class=" ui-g-4">
            <span></span>
        </div>
        <div class="ui-g-1" *ngIf="isView"></div>
        <div class="ui-g-1 ui-g-nopad textRight addBtnBottomGap">
            <button pButton type="button" *ngIf="(isView)" icon="fa-plus" (click)="clickedOnAdd();" tooltipPosition="bottom" pTooltip="{{'Add New Filter Form' | translate}}"></button>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad" *ngIf="isView">
        <p-dataTable [value]="SimpleFormsResult" selectionMode="single" (onRowClick)="onFilterFormSelect($event)" [paginator]="true" [rows]="15" [responsive]="true" emptyMessage="{{'No records found' | translate}}">
            <p-column field="name" header="{{' Name' | translate}}" [sortable]="true" [filter]="true">
            </p-column>
            <p-column header="Edit" [style]="{'width': '100' + 'px'}">
                <ng-template pTemplate="body">
                    <i class="material-icons ui-icon-edit"></i>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
    <div class="ui-g-12 ui-g-nopad top10" *ngIf="!isView">
        <p-tabView (onChange)="onTabChange($event)" [activeIndex]="activeIndexNumber">
            <p-tabPanel header="Add" leftIcon="ui-icon-add">
                <div class="ui-g">
                    <div class="ui-g-12 ui-g-nopad">
                        <form [formGroup]="simpleForm" (ngSubmit)="onSimpleFormSubmit(simpleForm)">
                            <br>
                            <div class="ui-g-1"></div>
                            <div class="ui-g-11 ui-g-nopad">
                                <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-5">
                                        <!-- <label>Form name<sup class="redStar" class="redStar">*</sup></label> -->
                                        <div class="input-group">
                                            <input type="text" pInputText placeholder="Enter Form Name" [formControl]="simpleForm.controls['name']" [ngClass]="(simpleForm.controls['name'].hasError('required') && simpleForm.controls['name'].touched) === false ? 'form-control ': 'form-control form-control-warning'"
                                            />
                                        </div>
                                    </div>
                                    <div class="ui-g-2">
                                        <button type="button" (click)="addNewProperty()" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left ">
                                        <span class="ui-button-icon-left fa fa-plus"></span>
                                        <span class="ui-button-text">Add Properties</span>
                                    </button>
                                    </div>
                                    <div class="ui-g-2">
                                        <button type="button" (click)="addDatatable()" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left  ">
                                        <span class="ui-button-icon-left fa fa-plus"></span>
                                        <span class="ui-button-text">Add Datatable</span>
                                    </button>
                                    </div>
                                    <div class="ui-g-2">
                                        <button type="button" (click)="onSimpleFormSubmit(simpleForm)" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left  widthSaveBtn left" tooltipPosition="bottom" pTooltip="{{'Save Filter Form' | translate}}" [disabled]="simpleForm.invalid || propsList.length === 0 ">
                                            <span class="ui-button-icon-left fa fa-check"></span>
                                            <span class="ui-button-text">Save Form</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>
                        <br>
                        <div class="ui-g-12 ui-g-nopad" *ngIf="addProps">
                            <div class="ui-g-2"></div>
                            <div class="ui-g-7">
                                <form [formGroup]="addFormProps">
                                    <div class="ui-g-12">
                                        <label class="ui-panel-title title" *ngIf="!editProp">Add new property</label>
                                        <label class="ui-panel-title title" *ngIf="editProp">Edit {{editPropname}}</label>
                                    </div>
                                    <br>
                                    <div class="ui-g-12 form-group">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <label>Select Property Template<sup class="redStar">*</sup></label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                                <div class=" ui-grid-row ">
                                                    <div class="ui-grid-col-12 dropdownTop">
                                                        <p-dropdown [options]="templateDropDown" filter="true" [autoWidth]="false" formControlName="propTemplate" placeholder="Select Property Template" (onChange)="propertyTemplateChanged($event)"></p-dropdown>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="ui-g-12 form-group">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <label>Name<sup class="redStar">*</sup></label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <input type="text" pInputText placeholder="Name" id="propname" formControlName="propname" maxlength="2000" disabled>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="ui-g-12 form-group">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <label>Label<sup class="redStar">*</sup></label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <input type="text" pInputText placeholder="Label" id="proplabel" formControlName="proplabel" maxlength="2000">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="ui-g-12 form-group">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <label>Type<sup class="redStar">*</sup></label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                                <div class=" ui-grid-row ">
                                                    <div class="ui-grid-col-12 dropdownTop">
                                                        <p-dropdown [options]="typeDropDown" [autoWidth]="false" formControlName="proptype" placeholder="Select Property Type" (onChange)="onTypeChange($event)" [disabled]="true"></p-dropdown>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="ui-g-12 form-group">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <label>UI Type<sup class="redStar">*</sup></label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                                <div class=" ui-grid-row ">
                                                    <div class="ui-grid-col-12 dropdownTop">
                                                        <p-dropdown [options]="uiTypeDropDown" [autoWidth]="false" formControlName="uitype" placeholder="Select Property UI Type" (onChange)="onUITypeChange($event)"></p-dropdown>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="ui-g-12 form-group " *ngIf="selectedPropType === 'MULTIPLICATION' || selectedPropType === 'ROWSUB' || selectedPropType === 'ROWSUM' || selectedPropType === 'ROWDIV' || selectedPropType === 'ROWAVG'">
                                        <div class="ui-g-12 ui-g-nopad text-right">
                                            <div class="ui-g-12 ui-g-nopad">
                                                <label>Calculation Options<sup class="redStar">*</sup></label>
                                            </div>
                                            <div class="ui-g-12 ui-g-nopad" *ngIf="addFormProps.value.calc">
                                                <div class="ui-g-12 float-left" *ngFor="let value of addFormProps.value.calc" class="top" style="display: inline-block;">
                                                    <span class="amtClass top">
                                                                                                        {{value}}&nbsp;&nbsp;&nbsp;<i class="fa fa-times pointer" (click)="removeCalcValue(value)"></i>
                                                                                                    </span>
                                                </div>
                                            </div>
                                            <div class="ui-g-12 ui-g-nopad">
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <input type="button" pInputText (click)="toggleCalced('calcId')" class="removeextraspace form-control" value="Select" />
                                                    <div [id]="'calcId'" class="dropdown-content">
                                                        <input type="text" placeholder="Search.." pInputText [id]="'calcId'" (keyup)="filterFunctionCalced('calcId', $event)" class="inputHeight">
                                                        <a *ngFor="let options of calcArray" style="width: 100%; text-align: left" (click)="selectedOptionsCalced(options, 'calcId')">
                                                                                                    {{options}}
                                                                                </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="ui-g-12" *ngIf="selectedPropType === 'ROWDATEDIFF'">
                                        <div class="ui-g-12 form-group">
                                            <div class="ui-g-12 ui-g-nopad">
                                                <label>Calculation Options<sup class="redStar">*</sup></label>
                                            </div>
                                            <div class="ui-g-12 ui-g-nopad" *ngIf="addFormProps.value.calc">
                                                <div class="ui-g-nopad float-left" *ngFor="let value of addFormProps.value.calc" class="top" style="display: inline-block;">
                                                    <span class="amtClass top">
                                                                                                        {{value}}&nbsp;&nbsp;&nbsp;<i class="fa fa-times pointer" (click)="removeCalcValue(value)"></i>
                                                                                                    </span>
                                                </div>
                                            </div>
                                            <div class="ui-g-12 ui-g-nopad">
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <input type="button" pInputText (click)="toggleCalced('calcIdDate')" class="removeextraspace form-control" value="Select" />
                                                    <div [id]="'calcIdDate'" class="dropdown-content">
                                                        <input type="text" pInputText placeholder="Search.." [id]="'calcIdDate'" (keyup)="filterFunctionCalced('calcIdDate', $event)" class="inputHeight">
                                                        <a *ngFor="let options of dateDifferenceProps" style="width: 100%; text-align: left" (click)="dateDiffCalced(options, 'calcIdDate')">
                                                                                                    {{options}}
                                                                                </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="ui-g-12 form-group" *ngIf="selectedPropType === 'TEXT'">
                                        <div class=" ui-g-12 ui-g-nopad">
                                            <label>Length <sup class="redStar">*</sup></label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <input type="number" pInputText placeholder="Length" id="proplength" formControlName="proplength">
                                        </div>
                                        <br>
                                    </div>

                                    <div class="ui-g-12 form-group" *ngIf="selectedPropType==='LOOKUP'">
                                        <div class=" ui-g-12 ui-g-nopad">
                                            <label>Lookup Names [Give names and press enter] <sup class="redStar">*</sup></label>
                                        </div>
                                        <div class=" ui-g-12 ui-g-nopad">
                                            <input type="text" pInputText class="form-control" placeholder="Lookup Names" formControlName="proplookupTemp" (keydown.enter)="lookupEntered($event.target.value)">
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad" *ngIf="proplookupArray.length > 0">
                                            <div class="ui-g-12 ui-g-nopad" *ngFor="let value of proplookupArray; let i = index" class="top" style="display: inline-block">
                                                <span class="amtClass top">
                                                                                        {{value}}&nbsp;&nbsp;&nbsp;<i class="material-icons ui-icon-close closeSize  pointer" (click)="removeLookupValue(value, i)"></i>
                                                    </span>
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="ui-g-12 form-group" *ngIf="selectedPropType==='LOOKUPCONDITION'">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <label>Lookup Condition Names [Give names and press enter] <sup class="redStar">*</sup></label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <input type="text" pInputText class="form-control" placeholder="Lookup Condition Names" formControlName="proplookupTemp" (keydown.enter)="lookupEntered($event.target.value)">
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad" *ngIf="proplookupArray.length > 0">
                                            <div class="ui-g-12 ui-g-nopad" *ngFor="let value of proplookupArray; let i = index" class="top" style="display: inline-block">
                                                <span class="amtClass top">
                                                                                        {{value}}&nbsp;&nbsp;&nbsp;<i class="material-icons ui-icon-close closeSize  pointer" (click)="removeLookupValue(value, i)"></i>
                                                    </span>
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                    <div class=" ui-g-12 ui-g-nopad" *ngIf="selectedPropType==='LOOKUPCONDITION'">
                                        <div class=" ui-g-12 ui-g-nopad" *ngFor="let loop of addFormProps.controls.condition.value ; let i=index">
                                            <div class="ui-g-12 ui-g-nopad border">
                                                <div class=" ui-g-12 form-group">
                                                    <div class="ui-g-12 ui-g-nopad">
                                                        <label>Value</label>
                                                    </div>
                                                    <div class="ui-g-12 ui-g-nopad">
                                                        <input type="text" pInputText class="form-control" placeholder="Enter Value" (input)="addValue($event,i)" [value]="loop.val">
                                                    </div>
                                                </div>
                                                <br>
                                                <div class=" ui-g-12 form-group">
                                                    <div class="ui-g-12 ui-g-nopad">
                                                        <label>Show</label>
                                                    </div>
                                                    <div class="ui-g-12 ui-g-nopad" *ngIf="loop.show">
                                                        <div class="ui-g-12 ui-g-nopad" *ngFor="let value of loop.show" class="top" style="display: inline-block">
                                                            <span class="amtClass top">
                                                                                                {{value}}&nbsp;&nbsp;&nbsp;<i class="fa fa-times pointer" (click)="removeShowValue(value, i)"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="ui-g-12 ui-g-nopad">
                                                        <div class="ui-g-12 ui-g-nopad">
                                                            <input type="button" pInputText (click)="showToggle(i)" class="removeextraspace form-control" value="Select" />
                                                            <div [id]="i" class="dropdown-content">
                                                                <input type="text" pInputText placeholder="Search.." [id]="i + 'id'" (keyup)="filterFunction(i, $event)" class="inputHeight">
                                                                <a *ngFor="let options of propNames" (click)="selectedOptions(options, i)">
                                                                                            {{options}}
                                                                        </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                </div>

                                                <div class="ui-g-12 form-group">
                                                    <div class="ui-g-12 ui-g-nopad">
                                                        <label>Hide</label>
                                                    </div>
                                                    <div class="ui-g-12 ui-g-nopad" *ngIf="loop.hide">
                                                        <div class="ui-g-12" *ngFor="let value of loop.hide" class="top" style="display: inline-block">
                                                            <span class="amtClass top">
                                                                                                    {{value}}&nbsp;&nbsp;&nbsp;<i class="fa fa-times pointer" (click)="removeHideValue(value, i)"></i>
                                                                                                </span>
                                                        </div>
                                                    </div>
                                                    <div class="ui-g-12 ui-g-nopad">
                                                        <div class="ui-g-12 ui-g-nopad">
                                                            <input type="button" pInputText (click)="hideToggle(i, i+ 'hide')" class="removeextraspace form-control" value="Select" />
                                                            <div [id]="i + 'hide'" class="dropdown-content">
                                                                <input type="text" pInputText placeholder="Search.." [id]="i + 'idHide'" (keyup)="filterFunctionHide(i, $event)" class="inputHeight">
                                                                <a *ngFor="let options of propNames" (click)="selectedOptionsHide(options, i)">
                                                                                                {{options}}
                                                                                            </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                            </div>
                                            <br>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="ui-g-12 form-group" *ngIf="selectedPropType==='LOOKUPCONDITION'">
                                        <button type="button" pButton label="Add Condition" icon="fa fa-plus" (click)="addCondition()" class="orange-btn"></button>
                                        <br>
                                    </div>

                                    <div class="ui-g-12 form-group" *ngIf="selectedPropType==='DBLOOKUP' || selectedPropType==='TEXTAF' || selectedPropType==='STEXTTA' || selectedPropType==='MTEXTTA'">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <div class="ui-g-4 ui-g-nopad">
                                                <label>Default Data Base Selected</label>
                                            </div>
                                            <div class="ui-g-2 ui-g-nopad">
                                                <p-checkbox name="defaultDb" id="defaultDb" [(ngModel)]="addFormProps.value.isDefaultDB" [ngModelOptions]="{standalone: true}" binary="true" [style]="{'float': 'left'}" (onChange)="deafultDbChanged($event)"></p-checkbox>
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="ui-g-12 form-group" *ngIf="((selectedPropType==='DBLOOKUP' || selectedPropType==='TEXTAF' || selectedPropType==='STEXTTA' || selectedPropType==='MTEXTTA' ) && !addFormProps.value.isDefaultDB)">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <label>DB Url <sup class="redStar">*</sup></label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <input type="url" pInputText class="form-control" placeholder="DB Url" formControlName="propdburl">
                                        </div>
                                        <br>
                                    </div>

                                    <div class="ui-g-12 form-group" *ngIf="((selectedPropType==='DBLOOKUP' || selectedPropType==='TEXTAF' || selectedPropType==='STEXTTA' || selectedPropType==='MTEXTTA' ) && !addFormProps.value.isDefaultDB)">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <label>DB Type<sup class="redStar">*</sup></label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                                <div class=" ui-grid-row ">
                                                    <div class="ui-grid-col-12 dropdownTop">
                                                        <p-dropdown [options]="dbTypeDropDown" id="propdbtype" [autoWidth]="false" formControlName="propdbtype" placeholder="Select Property DB Type" (onChange)="onDbTypeChanged($event)"></p-dropdown>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="ui-g-12 form-group" *ngIf="((selectedPropType==='DBLOOKUP' || selectedPropType==='TEXTAF' || selectedPropType==='STEXTTA' || selectedPropType==='MTEXTTA' ) && !addFormProps.value.isDefaultDB)">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <label>User<sup class="redStar">*</sup></label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <input type="text" pInputText placeholder="User" formControlName="propuser">

                                        </div>
                                        <br>
                                    </div>

                                    <div class="ui-g-12 form-group" *ngIf="((selectedPropType==='DBLOOKUP' || selectedPropType==='TEXTAF' || selectedPropType==='STEXTTA' || selectedPropType==='MTEXTTA' ) && !addFormProps.value.isDefaultDB)">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <label>Password<sup class="redStar">*</sup></label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <input type="password" pInputText placeholder="Password" formControlName="proppassword">

                                        </div>
                                        <br>
                                    </div>

                                    <div class="ui-g-12 form-group" *ngIf="selectedPropType==='DBLOOKUP' || selectedPropType==='TEXTAF' || selectedPropType==='STEXTTA' || selectedPropType==='MTEXTTA'">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <label>Sql<sup class="redStar">*</sup></label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <input type="text" pInputText placeholder="Sql" formControlName="propsql">
                                        </div>
                                        <br>
                                    </div>

                                    <div class="ui-g-12 form-group" *ngIf="selectedPropType==='DBLOOKUP' || selectedPropType==='STEXTTA' || selectedPropType==='MTEXTTA'">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <label>Name Column<sup class="redStar">*</sup></label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <input type="text" pInputText placeholder="Name Column" formControlName="propnamecol">
                                        </div>
                                        <br>
                                    </div>

                                    <div class="ui-g-12 form-group" *ngIf="selectedPropType==='DBLOOKUP' || selectedPropType==='STEXTTA' || selectedPropType==='MTEXTTA'">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <label>Value Column<sup class="redStar">*</sup></label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <input type="text" pInputText placeholder="Value Column" formControlName="propvaluecol">
                                        </div>
                                        <br>
                                    </div>

                                    <div class="ui-g-12 form-group" *ngIf="selectedPropType==='TEXTAF'">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <label>Parameters <sup class="redStar">*</sup></label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad" *ngIf="addFormProps.value.fillprops">
                                            <div class="ui-g-12" *ngFor="let value of addFormProps.value.fillprops" class="top" style="display: inline-block">
                                                <span class="amtClass top">
                                                                                        {{value}}&nbsp;&nbsp;&nbsp;<i class="fa fa-times pointer" (click)="removeAutoFilledValue(value)"></i>
                                                                                    </span>
                                            </div>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <div class="ui-g-12 ui-g-nopad">
                                                <input type="button" pInputText (click)="toggleAutoFilled( 'autoFillId')" class="removeextraspace form-control" value="Select" />
                                                <div [id]=" 'autoFillId'" class="dropdown-content">
                                                    <input type="text" pInputText placeholder="Search.." [id]=" 'autoFillId'" (keyup)="filterFunctionAutoFilled( 'autoFillId', $event)" class="inputHeight">
                                                    <a *ngFor="let options of autoFillArray" (click)="selectedOptionsAutoFilled(options, 'calcId')">
                                                                                    {{options}}
                                                                                </a>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>

                                    <div class="ui-g-12 form-group">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <label>Actions</label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                                <div class=" ui-grid-row ">
                                                    <div class="ui-grid-col-12 dropdownTop">
                                                        <p-dropdown [options]="actionsDropDwon" id="actiondrop" [autoWidth]="false" formControlName="actiondrop" placeholder="Select Action" (onChange)="actionTypeChanged($event)"></p-dropdown>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>

                                    </div>
                                    <div class="ui-g-12 form-group" *ngIf="addFormProps.value.actiondrop === 'autoFill'">
                                        <button type="button" pButton label="Add Action" icon="fa fa-plus" (click)="addAction()" class="orange-btn"></button>
                                    </div>
                                    <br>
                                    <div class="ui-g-12 ui-g-nopad" *ngIf="addFormProps.value.actions && addFormProps.value.actions.length > 0">
                                        <div class="ui-g-12 ui-g-nopad" *ngFor="let act of addFormProps.value.actions; let r = index">
                                            <br>
                                            <div class="ui-g-12 form-group">
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <div class="ui-g-4 ui-g-nopad">
                                                        <label>Default Data Base Selected</label>
                                                    </div>
                                                    <div class="ui-g-2 ui-g-nopad">
                                                        <p-checkbox [id]="'defaultDb' + r" [name]="'defaultDB' + r" [(ngModel)]="act.isDefaultDB" [ngModelOptions]="{standalone: true}" binary="true" [style]="{'float': 'left'}" (onChange)="deafultActionDbChanged($event, act, r)"></p-checkbox>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ui-g-12 form-group" *ngIf="act.isDefaultDB !== true">
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <label>DB Url <sup class="redStar">*</sup></label>
                                                </div>
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <input type="url" pInputText class="form-control" placeholder="DB Url" [value]="act.autoFill.dburl" (input)="dbUrl($event, r)">
                                                </div>
                                            </div>
                                            <div class="ui-g-12 form-group" *ngIf="act.isDefaultDB !== true">
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <label>DB Type  </label>
                                                </div>
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <select class="selectDropDown" [id]="'propdbtype' + r " [value]="act.autoFill.dbtype" (change)="onActionDbTypeChanged($event, r)">
                                                                        <option value="SQLSERVER">Sql Server</option>
                                                                        <option value="ORACLE">Oracle</option>
                                                                        <option value="MYSQL">Mysql</option>
                                                                </select>

                                                </div>
                                            </div>
                                            <div class="ui-g-12 form-group" *ngIf="act.isDefaultDB !== true">
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <label>User</label>
                                                </div>
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <input type="text" [name]="'user' + r " pInputText placeholder="User" [value]="act.autoFill.user" (input)="dbUser($event, r)">
                                                </div>
                                            </div>
                                            <div class="ui-g-12 form-group" *ngIf="act.isDefaultDB !== true">
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <label>Password</label>
                                                </div>
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <input type="password" [name]="'password'+ r" pInputText placeholder="Password" [value]="act.autoFill.password" (input)="dbPassword($event, r)">
                                                </div>
                                            </div>
                                            <div class="ui-g-12 form-group">
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <label>Sql</label>
                                                </div>
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <input type="text" pInputText placeholder="Sql" [name]="'sql' + r" [value]="act.autoFill.sql" (input)="dbSql($event, r)">
                                                </div>
                                            </div>
                                            <div class="ui-g-12 form-group">
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <label>Parameters </label>
                                                </div>
                                                <div class="ui-g-12 ui-g-nopad" *ngIf="act.autoFill && act.autoFill.fillprops && act.autoFill.fillprops.length > 0">
                                                    <div class="ui-g-12" *ngFor="let value of act.autoFill.fillprops" class="top" style="display: inline-block">
                                                        <span class="amtClass top">
                                                                                                {{value}}&nbsp;&nbsp;&nbsp;<i class="fa fa-times pointer" (click)="removeActionAutoFilledValue(value, r)"></i>
                                                                                            </span>
                                                    </div>
                                                </div>
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <div class="ui-g-12 ui-g-nopad">
                                                        <input type="button" pInputText (click)="toggleActionAutoFilled( ('autoFillId' + r), r)" class="removeextraspace form-control" value="Select" />
                                                        <div [id]=" 'autoFillId' + r" class="dropdown-content">
                                                            <input type="text" [name]="'search'+ r" pInputText placeholder="Search.." [id]=" 'autoFillId' + r" (keyup)="filterFunctionAutoFilled( ('autoFillId'+r), $event)" class="inputHeight">
                                                            <a *ngFor="let options of autoFillArray" (click)="selectedOptionsActionAutoFilled(options, ('autoFillId'+r), r)">
                                                                                            {{options}}
                                                                                        </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>

                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="ui-g-12 form-group">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <label>Read Only</label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <div class="ui-g-4 ui-sm-6 ">
                                                <p-radioButton name="propreadonly" value="TRUE" label="True" checked inputId="preoptreadonly1" [(ngModel)]="addFormProps.controls['propreadonly'].value" formControlName="propreadonly"></p-radioButton>
                                            </div>
                                            <div class="ui-g-4 ui-sm-6 ">
                                                <p-radioButton name="propreadonly" value="FALSE" label="False" inputId="preoptreadonly2" [(ngModel)]="addFormProps.controls['propreadonly'].value" formControlName="propreadonly"></p-radioButton>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="ui-g-12 form-group">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <label>Visible</label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <div class="ui-g-4 ui-sm-6">
                                                <p-radioButton name="propvisible" value="TRUE" label="True" checked inputId="preoptvisible1" [(ngModel)]="addFormProps.controls['propvisible'].value" formControlName="propvisible"></p-radioButton>
                                            </div>
                                            <div class="ui-g-4 ui-sm-6 ">
                                                <p-radioButton name="propvisible" value="FALSE" label="False" inputId="preoptvisible2" [(ngModel)]="addFormProps.controls['propvisible'].value" formControlName="propvisible"></p-radioButton>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="ui-g-12 form-group">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <label>Required</label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <div class="ui-g-4 ui-sm-6 ">
                                                <p-radioButton name="proprequired" value="TRUE" label="True" checked inputId="preoptrequired1" [(ngModel)]="addFormProps.controls['proprequired'].value" formControlName="proprequired"></p-radioButton>
                                            </div>
                                            <div class="ui-g-4 ui-sm-6 ">
                                                <p-radioButton name="proprequired" value="FALSE" label="False" inputId="preoptrequired2" [(ngModel)]="addFormProps.controls['proprequired'].value" formControlName="proprequired"></p-radioButton>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="ui-g-12">
                                        <div class="ui-g-3"></div>
                                        <div class="ui-g-3">
                                            <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left right" (click)="clickNo()">
                                                            <span class="ui-button-icon-left fa fa-close"></span>
                                                            <span class="ui-button-text clearWidthBtn">Clear</span>
                                                        </button>
                                        </div>
                                        <div class="ui-g-3" *ngIf="!isAdd">
                                            <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width left" [disabled]="addFormProps.invalid || (selectedPropType==='LOOKUP' && !addFormProps.controls.proplookup.value) || ((selectedPropType==='MULTIPLICATION'
                                                ) && (addFormProps.value.calc.length===0 )) || ((selectedPropType==='ROWSUM' ) && (addFormProps.value.calc.length===0 )) || ((selectedPropType==='ROWSUB' ) && (addFormProps.value.calc.length===0 )) ||
                                                ((selectedPropType==='ROWDIV' ) && (addFormProps.value.calc.length===0 )) || ((selectedPropType==='ROWAVG' ) && (addFormProps.value.calc.length===0 )) || ((selectedPropType==='ROWDATEDIFF' ) && (addFormProps.value.calc.length===0
                                                )) || ((selectedPropType==='DBLOOKUP' || selectedPropType==='STEXTTA' || selectedPropType==='MTEXTTA' ) && (!addFormProps.controls.propnamecol.value || !addFormProps.controls.propvaluecol.value)) ||
                                                (selectedPropType==='TEXTAF' && (addFormProps.value.fillprops.length===0 )) ||((selectedPropType==='TEXT' || addFormProps.controls.uitype.value==='TEXT' ) && !addFormProps.controls.proplength.value)
                                                || ((selectedPropType==='DBLOOKUP' || selectedPropType==='TEXTAF' || selectedPropType==='STEXTTA' || selectedPropType==='MTEXTTA' ) && (!addFormProps.controls.propdburl.value || !addFormProps.controls.propdbtype.value
                                                || !addFormProps.controls.propuser.value || !addFormProps.controls.proppassword.value|| !addFormProps.controls.propsql.value ))" (click)="addProperties(addFormProps);addProps = false">
                                                    <span class="ui-button-icon-left fa fa-plus"></span>
                                                    <span class="ui-button-text">Save</span>
                                                </button>
                                        </div>

                                        <div class="ui-g-3"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br>
                        <div class="ui-g-12 " *ngIf="adddatatableitems || editDatatableItems">
                            <div class="ui-g-1"></div>
                            <div class="ui-g-10 ">
                                <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-6 ui-g-nopad">
                                        <div class="ui-g-12 ui-g-nopad" *ngIf="datatableList">
                                            <div class="ui-g-1 "></div>
                                            <div class="ui-g-11 ui-g-nopad">
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <div class="ui-g-1 ui-g-nopad">
                                                        <i class="material-icons ui-icon-account-box"></i>
                                                    </div>
                                                    <div class="ui-g-11 ui-g-nopad labelTopGap">
                                                        <label>Datatable</label>
                                                    </div>
                                                </div>
                                                <div class="ui-g-12 ui-g-nopad" *ngFor="let data of datatableList; let dtable = index">
                                                    <div class="ui-g-1"></div>
                                                    <div class="ui-g-11 ui-g-nopad">
                                                        <span [class]="datatableIndex === dtable ? 'pointer font' : 'pointer'" (click)="clickedOndatatable(data, dtable)">
                                                            <div class="ui-g-12 ui-g-nopad">
                                                                <div class="ui-g-1 ui-g-nopad">
                                                                        <i class="fa fa-dot-circle-o fontCircle"></i>
                                                                </div>
                                                                <div class="ui-g-10 ui-g-nopad">
                                                                        {{data.key}}
                                                                </div>
                                                            </div>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-g-6 ui-g-nopad">
                                        <div class="ui-g-12 ui-g-nopad labelTopGap">
                                            <label *ngIf="adddatatableitems">Add Datatable</label>
                                            <label *ngIf="editDatatableItems">Edit Datatable</label>
                                        </div>
                                        <form [formGroup]="addDatatableForm">
                                            <div class=" ui-g-12 form-group">
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <label>Key <sup class="redStar">*</sup></label>
                                                </div>
                                                <div class="col-lg-12 col-12 padding0">
                                                    <input type="text" pInputText class="form-control" formControlName="key" placeholder="Enter Key" maxlength="20">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="ui-g-12 form-group">
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <label>Value <sup class="redStar">*</sup></label>
                                                </div>
                                                <div class="ui-g-12 ui-g-nopad">
                                                    <input type="text" pInputText class="form-control" formControlName="value" placeholder="Enter Value">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="ui-g-12 ui-g-nopad">
                                                <div class="ui-g-12">
                                                    <div class="ui-g-4"></div>
                                                    <div class="ui-g-4">
                                                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left center" [disabled]="addDatatableForm.invalid" (click)="saveDatatable(addDatatableForm)" *ngIf="adddatatableitems">
                                                    <span class="ui-button-icon-left fa fa-plus"></span>
                                                    <span class="ui-button-text">Save</span>
                                                </button>
                                                    </div>
                                                </div>
                                                <div class="ui-g-12 ui-g-nopad" *ngIf="editDatatableItems">
                                                    <div class="ui-g-3"></div>
                                                    <div class="ui-g-4 ">
                                                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width " [disabled]="addDatatableForm.invalid" (click)="editDatatable(addDatatableForm, 'EDIT')">
                                                            <span class="ui-button-icon-left fa fa-check"></span>
                                                            <span class="ui-button-text">Edit</span>
                                                        </button>
                                                    </div>
                                                    <div class="ui-g-4 ">
                                                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width  " (click)="editDatatable(addDatatableForm, 'DELETE')">
                                                            <span class="ui-button-icon-left fa fa-close"></span>
                                                            <span class="ui-button-text">Delete</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="View" leftIcon="ui-icon-visibility">
                <div class="ui-g"></div>
                <div class="ui-g-12 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad textCenter">
                        <h3 class="text-uppercase text-center">{{simpleForm.controls['name'].value}}</h3>
                    </div>

                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-2"></div>
                        <div class="ui-g-8 ui-g-nopad">
                            <div class="ui-g-12 form-group" *ngFor="let prop of propsList;let k = index">
                                <div class="ui-g-3 ui-g-nopad">
                                    <label>{{prop.label}} <sup class="redStar" *ngIf="prop.req === 'TRUE' ? true : false">*</sup></label>
                                </div>
                                <div class="ui-g-6 ui-g-nopad" *ngIf="prop.visible === 'TRUE' || prop.visible === undefined">
                                    <input type="text" pInputText *ngIf="prop.uitype.uitype === 'TEXT'" [id]="prop.name" [name]="prop.name" placeholder="Enter {{prop.label}}" class="form-control showformInput" [attr.maxlength]="prop.length">

                                    <input type="number" pInputText [name]="prop.name" [id]="prop.name" *ngIf="prop.uitype.uitype === 'NUMBER'" placeholder="Enter {{prop.label}}" class="form-control showformInput" [attr.maxlength]="prop.length">
                                    <div *ngIf="prop.uitype.uitype === 'TEXTAREA'">
                                        <textarea pInputTextarea type="text" placeholder="{{'Enter' | translate}} {{prop.label | translate}}" rows="8">
                                </textarea>
                                    </div>
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'TIME'">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-12">
                                                <p-calendar [id]="prop.name" showTime="true" [timeOnly]="true" placeholder="{{'Select' | translate}} {{prop.label | translate}}"></p-calendar>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'DATERANGE'">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-12">
                                                <p-calendar dateRangeSelector [showIcon]="true" [name]="prop.name" placeholder="Date" dateFormat="dd/mm/yy" [id]="prop.name" selectionMode="range"></p-calendar>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'DATE' ">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-12">
                                                <p-calendar [showIcon]="true" [name]="prop.name" placeholder="Date" dateFormat="dd/mm/yy" [id]="prop.name"></p-calendar>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'DATETIME' ">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-12">
                                                <p-calendar [showIcon]="true" [name]="prop.name" placeholder="Date Time" [showTime]="true" dateFormat="dd/mm/yy" [id]="prop.name"></p-calendar>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'ROWEXPIRYDATE' ">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-12">
                                                <p-calendar [showIcon]="true" [name]="prop.name" placeholder="Date" pattern="MM/dd/yyyy HH:mm:ss a" [id]="prop.name"></p-calendar>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype ===  'LOOKUP'">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-12">
                                                <p-dropdown [options]="prop.lookupOptions" [autoWidth]="false" [id]="prop.name"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype ===  'LOOKUPCONDITION'">
                                        <div class="ui-grid-row">
                                            <div class="ui-grid-col-12">
                                                <p-dropdown [options]="prop.lookupOptions" [autoWidth]="false" [id]="prop.name"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'DBLOOKUP'">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-dropdown [options]="prop.lookupOptions" [autoWidth]="false" [id]="prop.name" filter="true" placeholder="{{'Select' | translate}}"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype ===  'STEXTTA'">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-autoComplete field="name" searchtext [multiple]="false" [id]="prop.name" [dropdown]="true" [minLength]="3" placeholder="{{'Single Search' | translate}}"></p-autoComplete>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype ===  'MTEXTTA'">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-autoComplete field="name" [multiple]="true" [id]="prop.name" [dropdown]="true" [minLength]="3" placeholder="{{'Multiple Search' | translate }}" immediate="true"></p-autoComplete>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="prop.uitype.uitype === 'CHECKBOX'">
                                        <div class=" ui-grid-row ">
                                            <div class="ui-grid-col-12 ">
                                                <p-checkbox binary="true" [style]="{'float': 'left'}"></p-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-3 ui-g-nopad">
                                    <div class="ui-g-12 ui-g-nopad">
                                        <div class="ui-g-6 textCenter ui-g-nopad">
                                            <button type="button" pButton icon="ui-icon-edit" class="ui-button-icon-secondary" (click)="editListProps(k,  prop)"></button>
                                        </div>
                                        <div class="ui-g-6 ui-g-nopad">
                                            <button pButton type="button" icon="ui-icon-close" class="ui-button-icon-only" (click)="deleteListProps(k)"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>