<div class="card ui-g-12 minHeight">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-1 ui-g-nopad">
            <button pButton type="button" *ngIf="!isView" icon="ui-icon-undo" (click)="clickedOnView();" tooltipPosition="bottom" pTooltip="{{'View Existing Translations' | translate}}"></button>
        </div>
        <div class="ui-g-6 ui-g-nopad top10">
            <span class="ui-panel-title title" *ngIf="isView">{{ 'Translations' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="isAdd">{{ 'Add New Translation' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="!isAdd && !isView">{{ 'Update Translation' | translate }}</span>
        </div>
        <div class=" ui-g-4">
        </div>
        <div class="ui-g-1" *ngIf="isView"></div>
        <div class="ui-g-1 ui-g-nopad textRight addBtnBottomGap">
            <button pButton type="button" *ngIf="(!isAdd)" icon="fa-plus" (click)="clickedOnAdd();" tooltipPosition="bottom" pTooltip="{{'Add New Translation' | translate}}"></button>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad" *ngIf="isView">
        <p-dataTable [value]="translationResult" (onRowClick)="editTranslation($event)" selectionMode="single" [paginator]="true" [rows]="15" [responsive]="true" emptyMessage="{{'No records found' | translate}}">
            <p-column field="langName" header="{{'Language' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="enString" header="{{'English Value' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="langString" header="{{'Language Value' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column header="{{'Delete' | translate}}" [style]="{'width': '70' + 'px'}">
                <ng-template pTemplate="body">
                    <i class="material-icons ui-icon-delete" (click)="deleteAlert($event)"></i>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
    <div class=" ui-g-12 ui-g-nopad top10" *ngIf="!isView">
        <div class="ui-g-2"></div>
        <div class="ui-g-8 ui-g-nopad">
            <form [formGroup]="translationsForm" #myformUser="ngForm">
                <div class="ui-g-12 top">
                    <label>Select Language</label>
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class=" ui-grid-row ">
                                <div class="ui-grid-col-12 dropdownTop">
                                    <p-dropdown [options]="languageDrop" [autoWidth]="false" [formControl]="translationsForm.controls['language']" placeholder="Select Data Type" (onChange)="languageChanged($event)"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad">
                        <label required> English Value <span class="redStar">*</span></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad">
                        <span class="md-inputfield">
                        <input type="text" placeholder="Enter English Value"  pInputText class="ui-inputtext ui-corner-all ui-widget"  [formControl]="translationsForm.controls['enValue']" [ngClass]="{'ng-dirty ng-invalid': translationsForm.controls['enValue'].hasError('required') && translationsForm.controls['enValue'].touched}" required>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="translationsForm.controls['enValue'].hasError('required') && (translationsForm.controls['enValue'].touched || myformUser.submitted)">
                         English value required.
                        </div>
                    </span>
                    </div>
                </div>
                <br>
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad">
                        <label required>Langauge Value<span class="redStar">*</span></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad">
                        <span class="md-inputfield">
                        <input type="text" placeholder="Enter Language Value"  pInputText class="ui-inputtext ui-corner-all ui-widget"  [formControl]="translationsForm.controls['langValue']" [ngClass]="{'ng-dirty ng-invalid': translationsForm.controls['langValue'].hasError('required') && translationsForm.controls['langValue'].touched}" required>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="translationsForm.controls['langValue'].hasError('required') && (translationsForm.controls['langValue'].touched || myformUser.submitted)">
                         Language value is required.
                        </div>
                    </span>
                    </div>
                </div>
                <br>


                <div class="ui-g-12">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left" (click)="cancelAdd()">
                                        <span class="ui-button-icon-left fa fa-close"></span>
                                        <span class="ui-button-text clearWidthBtn">Clear</span>
                                    </button>
                    </div>
                    <div class="ui-g-3" *ngIf="isAdd">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" [disabled]="translationsForm.invalid" (click)="translationsFormSubmitted(translationsForm)">
                                <span class="ui-button-icon-left fa fa-plus"></span>
                                <span class="ui-button-text">Save</span>
                            </button>
                    </div>
                    <div class="ui-g-3" *ngIf="!isAdd">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" [disabled]="translationsForm.invalid" (click)="translationsFormSubmitted(translationsForm)">
                                <span class="ui-button-icon-left fa fa-plus"></span>
                                <span class="ui-button-text">Update</span>
                            </button>
                    </div>
                    <div class="ui-g-3"></div>
                </div>
            </form>
        </div>
        <div class="ui-g-2"></div>

        <br>
    </div>
</div>
<ngx-smart-modal #deleteAlertModel identifier="deleteAlertModel" (onClose)="websocketNotop10en = false">
    <div class="modal-header">
        <h4 class="text-center top100 btmborder">Confirmation!</h4>
    </div>
    <div class="modal-body ">
        <label>This is going to delete, are you sure?</label>
    </div>
    <div class="modal-footer">
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-8 ui-g-nopad"></div>
            <div class="ui-g-4 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="deleteAlertModel.close(); isDelete = false;">
                    <span class="ui-button-icon-left fa fa-close"></span>
                    <span class="ui-button-text">No</span>
                </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="deleteAlertModel.close(); deleteConfirmed(); isDelete = false;">
                    <span class="ui-button-icon-left fa fa-check"></span>
                    <span class="ui-button-text">Yes</span>
                </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>