<div class="card ui-g-12 minHeight">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-1 ui-g-nopad">
            <button pButton type="button" *ngIf="!isView" icon="ui-icon-undo" (click)="clickedOnView();" tooltipPosition="bottom" pTooltip="{{'View document Types' | translate}}"></button>
        </div>
        <div class="ui-g-6 ui-g-nopad top10">
            <span class="ui-panel-title title" *ngIf="isView">{{ 'Document Types' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="isAdd">{{ 'Add New Document Type' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="!isAdd && !isView">{{ 'Update Document Type' | translate }}</span>
        </div>
        <div class=" ui-g-4">
            <span></span>
        </div>
        <div class="ui-g-1" *ngIf="isView"></div>
        <div class="ui-g-1 ui-g-nopad textRight addBtnBottomGap">
            <button pButton type="button" *ngIf="(!isAdd)" icon="fa-plus" (click)="clickedOnAdd();" tooltipPosition="bottom" pTooltip="{{'Add New Document Type' | translate}}"></button>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad" *ngIf="isView">
        <p-dataTable [value]="listOfDocument" (onRowClick)="editDocumentType($event)" selectionMode="single" [paginator]="true" [rows]="15" [responsive]="true" emptyMessage="{{'No records found' | translate}}">
            <p-column field="name" header="{{'Document Name' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column header="Edit" [style]="{'width': '100' + 'px'}">
                <ng-template pTemplate="body">
                    <i class="material-icons">edit</i>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
    <div class="ui-g-12 ui-g-nopad top10" *ngIf="!isView">
        <div class="ui-g-2"></div>
        <div class="ui-g-8">
            <form [formGroup]="documentType" (ngSubmit)="documentTypeSubmitted(documentType)" #myformDelegate="ngForm">
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue">Name<sup class="redStar">*</sup></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <input type="text" pInputText formControlName="name" placeholder="Enter Name">
                    </div>
                </div>
                <br>
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue">Type</label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class=" ui-grid-row ">
                                    <div class="ui-grid-col-12 dropdownTop" style="margin-top: 1px; margin-left: -1px;">
                                        <p-dropdown [options]="typeList" [autoWidth]="false" formControlName="type" [(ngModel)]="documentType.controls['type'].value" placeholder="Select Type" (onChange)="documentTypeSelected($event)"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad ">
                        <div class="ui-g-1 ui-g-nopad">
                            <p-checkbox [name]="'signenabledname'" [id]="'propname'" formArrayName="signEnabled" [(ngModel)]="documentType.controls['signEnabled'].value" [ngModelOptions]="{standalone: true}" binary="true"></p-checkbox>
                        </div>
                        <div class="ui-g-3 ui-g-nopad labelmargbtm">
                            <label class="blue">Sign Enabled</label>
                        </div>

                    </div>
                </div>
                <br>
                <div class="ui-g-12 form-group topGap">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left" (click)="cancelAdd()">
                                          <span class="ui-button-icon-left fa fa-close"></span>
                                          <span class="ui-button-text clearWidthBtn">Clear</span>
                                      </button>
                    </div>
                    <div class="ui-g-3" *ngIf="isAdd">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" [disabled]="documentType.invalid">
                                  <span class="ui-button-icon-left fa fa-plus"></span>
                                  <span class="ui-button-text">Save</span>
                              </button>
                    </div>
                    <div class="ui-g-3" *ngIf="!isAdd">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" [disabled]="documentType.invalid">
                                  <span class="ui-button-icon-left fa fa-plus"></span>
                                  <span class="ui-button-text">Update</span>
                              </button>
                    </div>
                    <div class="ui-g-3"></div>
                </div>
            </form>
        </div>
    </div>
</div>