<div class="card ui-g-12 minHeight">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-1 ui-g-nopad">
            <button pButton type="button" *ngIf="!isView" icon="ui-icon-undo" (click)="clickedOnView();" tooltipPosition="bottom" pTooltip="{{'View Repository' | translate}}"></button>
        </div>
        <div class="ui-g-6 ui-g-nopad top10">
            <span class="ui-panel-title title" *ngIf="isView">{{ 'Repository' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="!isAdd && !isView">{{ 'Update Repository' | translate }}</span>
        </div>
        <div class=" ui-g-4">
            <span></span>
        </div>
        <div class="ui-g-1 ui-g-nopad textRight addBtnBottomGap">
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad top10" *ngIf="isView && repositoryResults">
        <div class="ui-g-2"></div>
        <div class="ui-g-8 ui-g-nopad">
            <div class="ui-g-12 ui-g-nopad pointer" style=" border: 1px solid #ccc " (click)="editRepository(repositoryResults[0])">
                <div class="ui-g-10 pointer">
                    <label>{{repositoryResults[0].name}}</label>
                </div>
                <div class="ui-g-2 ">
                    <i class="material-icons pointer" (click)="reindexAlert(repositoryResults[0])">refresh</i>
                </div>
            </div>
        </div>

    </div>
    <div class="ui-g-12 ui-g-nopad top10" *ngIf="!isView">
        <div class="ui-g-2"></div>
        <div class="ui-g-8">
            <p-accordion>
                <p-accordionTab header="Permissions" [selected]="selectedTab1 === true">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-g-nopad" *ngIf="permissionList">
                            <div class="ui-g-12 top10 ui-g-nopad">
                                <div class="ui-g-4 bold ">Role Name</div>
                                <div class="ui-g-3 bold ">Access Type</div>
                                <div class="ui-g-3 bold ">Access Level</div>
                                <div class="ui-g-2"></div>
                            </div>
                            <div class=" ui-g-12 ui-g-nopad padding overScroll" *ngFor="let value of repositoryResults">
                                <div [class]="editId.id === value.id ? ' ui-g-12  ui-g-nopad' : ' ui-g-12 ui-g-nopad'" *ngFor="let result of value.permissions">
                                    <div class="ui-g-4" *ngIf="editId.id === value.id">{{result.granteeName}}</div>
                                    <div class="ui-g-3 " *ngIf="editId.id === value.id"><span *ngIf="result.inheritDepth === 0">This Object Only</span>
                                        <span *ngIf="result.inheritDepth === 1">Inherit</span>
                                    </div>
                                    <div class="ui-g-3 " *ngIf="editId.id === value.id">{{result.accessLevel}}</div>
                                    <div class="ui-g-2 " *ngIf="editId.id === value.id">
                                        <button pButton type="button" tooltipPosition="top" pTooltip="{{'Delete Permission' | translate}}" icon="fa-close" (click)="deleteAlert(result)"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="{{ 'Add permission' | translate}}" [selected]="selectedTab2 === true">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-g-nopad">
                            <form [formGroup]="permissionForm" (ngSubmit)="permissionFormSubmitted(permissionForm)" #myformDelegate="ngForm">
                                <div class="ui-g-12 form-group">
                                    <div class="ui-g-12  ">
                                        <label>Select Role<sup class="redStar">*</sup></label>
                                    </div>
                                    <div class="ui-g-12 ui-g-nopad">
                                        <div class=" ui-grid ui-grid-responsive ui-fluid">
                                            <div class=" ui-grid-row ">
                                                <div class="ui-grid-col-12 ">
                                                    <p-autoComplete formControlName="proproleid" [(ngModel)]="dbDummyValue" field="name" [suggestions]="dbvalue" searchtext (completeMethod)="onSearchAutoStextTA($event)" [multiple]="false" [id]="'idname'" [dropdown]="true" [minLength]="3" placeholder="{{' Search Role' | translate}}"
                                                        (onSelect)="selectSingle($event)" [ngClass]="{'ng-dirty ng-invalid': permissionForm.controls['proproleid'].hasError('required') && permissionForm.controls['proproleid'].touched && permissionForm.controls['proproleid'].invalid}"></p-autoComplete>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="ui-g-12 form-group">
                                    <div class="ui-g-12 ">
                                        <label>Access Type<sup class="redStar">*</sup></label>
                                    </div>
                                    <div class="ui-g-12">
                                        <div class="ui-grid ui-grid-responsive ui-fluid">
                                            <div class=" ui-grid-row ">
                                                <div class="ui-grid-col-12 dropdownTop">
                                                    <p-dropdown [options]="accessTypeDrop" [autoWidth]="false" formControlName="propaccesstype" placeholder="Select Access Type" (onChange)="accessTypeChanged($event)"></p-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="ui-g-12 form-group">
                                    <div class="ui-g-12 ">
                                        <label>Access Level<sup class="redStar">*</sup></label>
                                    </div>
                                    <div class="ui-g-12">
                                        <div class="ui-grid ui-grid-responsive ui-fluid">
                                            <div class=" ui-grid-row ">
                                                <div class="ui-grid-col-12 dropdownTop">
                                                    <p-dropdown [options]="accessLevelDrop" [autoWidth]="false" formControlName="propaccesslevel" placeholder="Select Access Level" (onChange)="accessLevelChanged($event)"></p-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="ui-g-12">
                                    <div class="ui-g-3"></div>
                                    <div class="ui-g-3">
                                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left right" (click)="cancelAdd()">
                                                          <span class="ui-button-icon-left fa fa-close"></span>
                                                          <span class="ui-button-text clearWidthBtn">Clear</span>
                                                      </button>
                                    </div>
                                    <div class="ui-g-3" *ngIf="!isAdd">
                                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width left" [disabled]="permissionForm.invalid">
                                                  <span class="ui-button-icon-left fa fa-plus"></span>
                                                  <span class="ui-button-text">Add</span>
                                              </button>
                                    </div>

                                    <div class="ui-g-3"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </p-accordionTab>

            </p-accordion>
        </div>


    </div>
</div>
<ngx-smart-modal #reindexAlertModel identifier="reindexAlertModel" (onClose)="websocketNotop10en = false">
    <div class="modal-header">
        <h4 class="text-center top100 btmborder">Confirmation!</h4>
    </div>
    <div class="modal-body " *ngIf="dbvalue">
        <p> this will take more time so please do it after working hours.</p>
        <label>Are you sure to reindex?</label>
    </div>
    <div class="modal-footer">
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-8 ui-g-nopad"></div>
            <div class="ui-g-4 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="reindexAlertModel.close();">
                      <span class="ui-button-icon-left fa fa-close"></span>
                      <span class="ui-button-text">No</span>
                  </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="reindexAlertModel.close(); reindexConfirmed()">
                      <span class="ui-button-icon-left fa fa-check"></span>
                      <span class="ui-button-text">Yes</span>
                  </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>
<ngx-smart-modal #deleteConfirmationAlert identifier="deleteConfirmationAlert" (onClose)="websocketNotop10en = false">
    <div class="modal-header">
        <h4 class="text-center top100 btmborder">Confirmation!</h4>
    </div>
    <div class="modal-body " *ngIf="dbvalue">
        <label>This permission is going to delete, are you sure?</label>
    </div>
    <div class="modal-footer">
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-8 ui-g-nopad"></div>
            <div class="ui-g-4 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="deleteConfirmationAlert.close();">
                      <span class="ui-button-icon-left fa fa-close"></span>
                      <span class="ui-button-text">No</span>
                  </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="deleteConfirmationAlert.close(); deleteConfirmed()">
                      <span class="ui-button-icon-left fa fa-check"></span>
                      <span class="ui-button-text">Yes</span>
                  </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>