<div class="card ui-g-12 minHeight">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-1 ui-g-nopad">
            <button pButton type="button" *ngIf="!isView" icon="ui-icon-undo" (click)="clickedOnView();" tooltipPosition="bottom" pTooltip="{{'View Templates' | translate}}"></button>
        </div>
        <div class="ui-g-6 ui-g-nopad top10">
            <span class="ui-panel-title title" *ngIf="isView">{{ 'Templates' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="isAdd">{{ 'Add New Template' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="!isAdd && !isView">{{ 'Update Template' | translate }}</span>
        </div>
        <div class=" ui-g-4">
            <span></span>
        </div>
        <div class="ui-g-1" *ngIf="isView"></div>
        <div class="ui-g-1 ui-g-nopad textRight addBtnBottomGap">
            <button pButton type="button" *ngIf="(!isAdd)" icon="fa-plus" (click)="clickedOnAdd();" tooltipPosition="bottom" pTooltip="{{'Add New Template' | translate}}"></button>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad" *ngIf="isView">
        <p-dataTable [value]="templateList" selectionMode="single" (onRowClick)="editTemplate($event)" [paginator]="true" [rows]="15" [responsive]="true" emptyMessage="{{'No records found' | translate}}">
            <p-column field="name" header="{{' Name' | translate}}" [sortable]="true" [filter]="true">
            </p-column>
            <p-column field="type" header="Type" [sortable]="true" [filter]="true"></p-column>
            <p-column field="status" header="Status" [sortable]="true" [filter]="true"></p-column>
            <p-column header="Download" [style]="{'width': '100' + 'px'}">
                <ng-template pTemplate="body">
                    <i class="material-icons ui-icon-file-download" (click)="download()"></i>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
    <div class="ui-g-12 ui-g-nopad top10" *ngIf="!isView">
        <div class="ui-g-2"></div>
        <div class="ui-g-8">
            <form [formGroup]="templateform" (ngSubmit)="templateSubmitted(templateform)" #myformDelegate="ngForm">
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue">Template Name<sup class="redStar">*</sup></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <input type="text" pInputText formControlName="name" placeholder="Enter Template Name">
                    </div>
                </div>
                <br>
                <div class="ui-g-12  form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue">Upload file<sup class="redStar">*</sup></label>
                    </div>
                    <br>
                    <div class="ui-g-12 ui-g-nopad top10">
                        <div class="ui-g-2 ui-g-nopad margbtm">
                            <button pButton type="button" class="pointer" icon="ui-icon-attach-file" tooltipPosition="top" pTooltip="{{'Attach' | translate}}" class="pointer">
                    <input type="file" id="fileid" ng2FileSelect  [uploader]="templateUploder"   class="upload pointer"  (change)="inputfileChanged($event)" (click)="tempObject()" />
                    </button>
                        </div>
                        <div class="ui-g-9 ui-g-nopad" *ngIf="templateUploder.queue.length > 0">
                            {{templateUploder.queue['0']._file.name}}
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui-g-12 form-group topGap">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left" (click)="cancelAdd()">
                                        <span class="ui-button-icon-left fa fa-close"></span>
                                        <span class="ui-button-text clearWidthBtn">Clear</span>
                                    </button>
                    </div>
                    <div class="ui-g-3" *ngIf="isAdd">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" [disabled]="templateform.invalid">
                                <span class="ui-button-icon-left fa fa-plus"></span>
                                <span class="ui-button-text">Save</span>
                            </button>
                    </div>
                    <div class="ui-g-3" *ngIf="!isAdd">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" [disabled]="templateform.invalid">
                                <span class="ui-button-icon-left fa fa-plus"></span>
                                <span class="ui-button-text">Update</span>
                            </button>
                    </div>
                    <div class="ui-g-3"></div>
                </div>
            </form>
        </div>
    </div>
</div>