<div class="card ui-g-12 minHeight">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-6 ui-g-nopad">
            <span class="ui-panel-title title">{{ 'License Information' | translate }}</span>
        </div>
        <div class=" ui-g-4">
            <span></span>
        </div>
        <div class="ui-g-2 ui-g-nopad textRight addBtnBottomGap">
            <button pButton type="button" icon="fa-plus" (click)="updateAsk();" tooltipPosition="bottom" pTooltip="{{'Update Lecense' | translate}}"></button>
        </div>
    </div>
    <br>
    <div class="ui-g-12" *ngIf="licenseDetails">
        <div class="ui-g-2"></div>
        <div class="ui-g-8">
            <div class="ui-g-12 ">
                <div class="ui-g-3">
                    <label for="id"> Customer Id</label>
                </div>
                <div class="ui-g-7">
                    <label for=""> {{ licenseDetails.id}}</label>
                </div>
            </div>
            <div class="ui-g-12 ">
                <div class="ui-g-3">
                    <label for="name">Name</label>
                </div>
                <div class="ui-g-7">
                    <label for=""> {{licenseDetails.name}}</label>
                </div>
            </div>
            <div class="ui-g-12 ">
                <div class="ui-g-3">
                    <label for="createdOn"> Started on</label>
                </div>
                <div class="ui-g-7">
                    <label for=""> {{licenseDetails.createdOn}}</label>
                </div>
            </div>
            <div class="ui-g-12 ">
                <div class="ui-g-3">
                    <label for="processes">Number of processes</label>
                </div>
                <div class="ui-g-5">
                    <label for=""> {{licenseDetails.processes}}</label>
                </div>
            </div>
            <div class="ui-g-12 ">
                <div class="ui-g-3">
                    <label for="type">Type</label>
                </div>
                <div class="ui-g-5">
                    <label for=""> {{licenseDetails.type}}</label>
                </div>
            </div>
            <div class="ui-g-12 ">
                <div class="ui-g-3">
                    <label for="typeName">Type name</label>
                </div>
                <div class="ui-g-5">
                    <label for=""> {{licenseDetails.typeName}}</label>
                </div>
            </div>
            <div class="ui-g-12 ">
                <div class="ui-g-3">
                    <label for="typeName">Number of Users</label>
                </div>
                <div class="ui-g-5">
                    <label for=""> {{licenseDetails.users}}</label>
                </div>
            </div>
            <div class="ui-g-12 ">
                <div class="ui-g-3">
                    <label for="validTill">Valid Till</label>
                </div>
                <div class="ui-g-5">
                    <label for=""> {{licenseDetails.validTill}}</label>
                </div>
            </div>
        </div>
    </div>
</div>


<ngx-smart-modal #updateAlert identifier="updateAlert" (onClose)="websocketNotop10en = false">
    <div class="modal-header">
        <h4 class="text-center top100 btmborder">Update License!</h4>
    </div>
    <div class="modal-body ">
        <div class="ui-g-12 ui-g-nopad">
            <textarea name="license" id="license" pInputTextarea [(ngModel)]="licenseKey" placeholder="Enter the latest license" rows="5" cols="50"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-8 ui-g-nopad"></div>
            <div class="ui-g-4 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="updateAlert.close();">
                  <span class="ui-button-icon-left fa fa-close"></span>
                  <span class="ui-button-text clearWidthBtn">Clear</span>
              </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="updateAlert.close(); updateConfirmed()" [disabled]="!licenseKey">
                  <span class="ui-button-icon-left fa fa-check"></span>
                  <span class="ui-button-text">Update</span>
              </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>