<div class="card ui-g-12 minHeight">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-1 ui-g-nopad">
            <button pButton type="button" *ngIf="!isView" icon="ui-icon-undo" (click)="clickedOnView();" tooltipPosition="bottom" pTooltip="{{'View Reports' | translate}}"></button>
        </div>
        <div class="ui-g-6 ui-g-nopad top10">
            <span class="ui-panel-title title" *ngIf="isView">{{ 'reports' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="isAdd">{{ 'Add New Report' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="!isAdd && !isView">{{ 'Update Report' | translate }}</span>
        </div>
        <div class=" ui-g-4">
            <span></span>
            <!-- <input type="text" #uw class="color inputWidth" *ngIf="isView" placeholder="{{ 'Filter...' | translate }}" pInputText icon="ui-icon-refresh"> -->
        </div>
        <div class="ui-g-1" *ngIf="isView"></div>
        <div class="ui-g-1 ui-g-nopad textRight addBtnBottomGap">
            <button pButton type="button" *ngIf="(!isAdd)" icon="fa-plus" (click)="clickedOnAdd();" tooltipPosition="bottom" pTooltip="{{'Add New Report' | translate}}"></button>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad" *ngIf="isView">
        <p-dataTable [value]="source" selectionMode="single" (onRowClick)="onUserRowSelect($event)" [paginator]="true" [rows]="15" [responsive]="true" emptyMessage="{{'No records found' | translate}}">
            <!-- [globalFilter]="uw" -->
            <p-column field="name" header="{{' Name' | translate}}" [sortable]="true" [filter]="true">
            </p-column>
            <p-column field="defName" header="Definition File" [sortable]="true" [filter]="true"></p-column>
            <p-column field="formName" header="Form Name" [sortable]="true" [filter]="true"></p-column>
            <!-- <p-column header="Download" [style]="{'width': '100' + 'px'}">
              <ng-template pTemplate="body">
                  <i class="material-icons ui-icon-file-download" (click)="download()"></i>
              </ng-template>
          </p-column> -->
        </p-dataTable>
    </div>
    <div class="ui-g-12 ui-g-nopad top10" *ngIf="!isView">
        <div class="ui-g-2"></div>
        <div class="ui-g-8">
            <form [formGroup]="reportForm" #myformDelegate="ngForm">
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad ">
                        <label>Report Name<sup class="redStar">*</sup></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad">
                        <input type="text" pInputText formControlName="name" placeholder="Enter Report Name" [formControl]="reportForm.controls['name']" [ngClass]="(reportForm.controls['name'].hasError('required') && reportForm.controls['name'].touched) === false ? 'form-control ': 'form-control form-control-warning'">
                    </div>
                </div>
                <br>
                <br>
                <div class="ui-g-12  form-group">
                    <div class="ui-g-12 ui-g-nopad">
                        <label>Upload file<sup class="redStar">*</sup></label>
                    </div>
                    <br>
                    <div class="ui-g-12 ui-g-nopad top10">
                        <div class="ui-g-2 ui-g-nopad">
                            <button pButton type="button" class="pointer" icon="ui-icon-attach-file" tooltipPosition="top" pTooltip="{{'Attach' | translate}}" class="pointer">
                  <input type="file" id="fileid" ng2FileSelect  [uploader]="defid" accept=".jasper"  class="upload pointer"  (change)="fileChanged($event)"  />
                  </button>
                        </div>
                        <div class="ui-g-10 ui-g-nopad top10">
                            {{documentFileName}}
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad">
                        <label>Form Name</label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class=" ui-grid-row ">
                                <div class="ui-grid-col-12 dropdownTop">
                                    <p-dropdown [options]="templateList" [autoWidth]="false" formControlName="formDef" filter="true" placeholder="Select Form Name" (onChange)="selectedFormName($event)"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad">
                        <label>Description</label>
                    </div>
                    <br>
                    <div class="ui-g-12 ui-g-nopad">
                        <textarea rows="3" class="form-control" name="description" cols="50" pInputTextarea formControlName="description" maxlength="2000" placeholder="Enter Description"></textarea>
                    </div>
                </div>
                <br>
                <br>
                <div class="ui-g-12 form-group topGap">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left" (click)="cancelAdd()">
                                      <span class="ui-button-icon-left fa fa-close"></span>
                                      <span class="ui-button-text clearWidthBtn">Clear</span>
                                  </button>
                    </div>
                    <div class="ui-g-3" *ngIf="isAdd">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="onReportSubmit(reportForm)" [disabled]="reportForm.invalid">
                              <span class="ui-button-icon-left fa fa-plus"></span>
                              <span class="ui-button-text">Save</span>
                          </button>
                    </div>
                    <div class="ui-g-3" *ngIf="!isAdd">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="onReportSubmit(reportForm)" [disabled]="reportForm.invalid">
                              <span class="ui-button-icon-left fa fa-plus"></span>
                              <span class="ui-button-text">Update</span>
                          </button>
                    </div>
                    <div class="ui-g-3"></div>
                </div>
            </form>
            <br>
            <form [formGroup]="addRoleForm" *ngIf="editReportToggle">
                <div class="ui-g-12 form-group" *ngIf="showRoles.length > 0">
                    <div class="ui-g-12 ui-g-nopad ">
                        <label>Avialable Roles</label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-12 ui-g-nopad" *ngFor="let value of showRoles" class="top backgroundRole" style="display: inline-block">
                            <span class="amtClass top">
                                            <div class="ui-g-12 ui-g-nopad nameDisplay "><div class="ui-g-9 ui-g-nopad ">{{value.name}}</div><div class="ui-g-3 ui-g-nopad"><i class=" material-icons fa-close pointer" (click)="deleteRoleModel(value)"></i></div></div>

                                </span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad">
                        <label>Add Role</label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class=" ui-grid-row ">
                                <div class="ui-grid-col-12 dropdownTop">
                                    <p-dropdown [options]="getRoleToAdd" [autoWidth]="false" [(ngModel)]="rolename" formControlName="roleName" filter="true" placeholder="Select Role" (onChange)="roleSelected($event)"></p-dropdown>
                                    <!-- <p-autoComplete [multiple]="false" placeholder="{{'Please Select Role' | translate }}" optionLabel="label" [(ngModel)]="rolename" formControlName="roleName" field="name" [suggestions]="getRoleToAdd" searchtext="searchtext" [dropdown]="true" (completeMethod)="roleSelected($event)"></p-autoComplete> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui-g-12 form-group topGap">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left" (click)="addRoleForm.reset(); userClear();">
                                      <span class="ui-button-icon-left fa fa-close"></span>
                                      <span class="ui-button-text clearWidthBtn">Clear</span>
                                  </button>
                    </div>
                    <div class="ui-g-3">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="addRole($event)" [disabled]="addRoleForm.invalid">
                              <span class="ui-button-icon-left fa fa-plus"></span>
                              <span class="ui-button-text">Save</span>
                          </button>
                    </div>

                    <div class="ui-g-3"></div>
                </div>
            </form>

        </div>
    </div>
</div>
<ngx-smart-modal #deleteModel identifier="deleteModel" (onClose)="websocketNotop10en = false">
    <div class="modal-header">
        <h4 class="text-center top100 btmborder">Confirmation!</h4>
    </div>
    <div class="modal-body ">
        <label>This role is going to delete, are you sure?</label>
    </div>
    <div class="modal-footer">
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-8 ui-g-nopad"></div>
            <div class="ui-g-4 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="deleteModel.close();">
                    <span class="ui-button-icon-left fa fa-close"></span>
                    <span class="ui-button-text">No</span>
                </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="deleteModel.close(); removeRole()">
                    <span class="ui-button-icon-left fa fa-check"></span>
                    <span class="ui-button-text">Yes</span>
                </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>