.backgroundRole {
    background: #00BCD4 !important;
    color: #fff !important;
    border-radius: 3px !important;
    margin-right: 10px;
    padding-top: 7px !important;
    padding-right: 5px !important;
    min-height: 37px !important;
}