<div class="card ui-g-12 minHeight">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-1 ui-g-nopad">
            <button pButton type="button" *ngIf="!isView" icon="ui-icon-undo" (click)="clickedOnView();" tooltipPosition="bottom" pTooltip="{{'View Existing Property Templates' | translate}}"></button>
        </div>
        <div class="ui-g-6 ui-g-nopad top10">
            <span class="ui-panel-title title" *ngIf="isView">{{ 'Property Templates' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="isAdd">{{ 'Add New Property Template' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="!isAdd && !isView">{{ 'Update Property Template ' | translate }}-{{editid.name}}</span>
        </div>
        <div class=" ui-g-4">
        </div>
        <div class="ui-g-1" *ngIf="isView"></div>
        <div class="ui-g-1 ui-g-nopad textRight addBtnBottomGap">
            <button pButton type="button" *ngIf="(!isAdd)" icon="fa-plus" (click)="clickedOnAdd();" tooltipPosition="bottom" pTooltip="{{'Add New Property Template' | translate}}"></button>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad" *ngIf="isView">
        <p-dataTable [value]="propTemplateResult" (onRowClick)="editPropsTemplate($event)" selectionMode="single" [paginator]="true" [rows]="15" [responsive]="true" emptyMessage="{{'No records found' | translate}}">
            <p-column field="name" header="{{'Name' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="symName" header="{{'Symbolic Name' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="dtype" header="{{'Data Type' | translate}}" [sortable]="true" [filter]="true" [style]="{'width': '210' + 'px'}"></p-column>
        </p-dataTable>
    </div>
    <div class=" ui-g-12 ui-g-nopad top10" *ngIf="!isView">
        <div class="ui-g-2"></div>
        <div class="ui-g-8 ui-g-nopad">
            <form [formGroup]="propForm" #myformUser="ngForm">
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue" required> Name <span class="redStar">*</span></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <span class="md-inputfield">
                        <input type="text" placeholder="Enter Name"  pInputText class="ui-inputtext ui-corner-all ui-widget"  [formControl]="propForm.controls['name']" [ngClass]="{'ng-dirty ng-invalid': propForm.controls['name'].hasError('required') && propForm.controls['name'].touched}" required (input)="addSymname($event)">
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="propForm.controls['name'].hasError('required') && (propForm.controls['name'].touched || myformUser.submitted)">
                         Name is required.
                        </div>
                    </span>
                    </div>
                </div>
                <br>
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue" required>Symbolic Name <span class="redStar">*</span></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <span class="md-inputfield">
                        <input type="text" placeholder="Enter Symbolic Name"  pInputText class="ui-inputtext ui-corner-all ui-widget"  [formControl]="propForm.controls['symName']" [ngClass]="{'ng-dirty ng-invalid': propForm.controls['symName'].hasError('required') && propForm.controls['symName'].touched}" required>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="propForm.controls['symName'].hasError('required') && (propForm.controls['symName'].touched || myformUser.submitted)">
                         Symbolic name is required.
                        </div>
                    </span>
                    </div>
                </div>
                <br>
                <div class="ui-g-12 top labelmargbtm">
                    <label class="blue">Data Type</label>
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class=" ui-grid-row " style="margin-top: 2px; margin-left: -1px;">
                                <div class="ui-grid-col-12 dropdownTop">
                                    <p-dropdown [options]="dataTypes" [autoWidth]="false" [formControl]="propForm.controls['dataType']" placeholder="Select Data Type" (onChange)="dataTypechanged($event)"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui-g-12 form-group" *ngIf="showlookups">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue">Lookups<span>(Type lookup and press enter)</span></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <span class="md-inputfield">
                            <input type="text" placeholder="Enter Lookups"  pInputText class="ui-inputtext ui-corner-all ui-widget"  formControlName="lookups" (keyup.enter)="addto(propForm.controls.lookups.value)">

                        </span>
                    </div>
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-12 ui-g-nopad" *ngFor="let value of lookupArray" class="top background" style="display: inline-block">
                            <span class="amtClass top">
                                            <div class="ui-g-12 ui-g-nopad nameDisplay "><div class="ui-g-9 ui-g-nopad ">{{value.label}}</div><div class="ui-g-3 ui-g-nopad"><i class=" material-icons fa-close pointer" (click)="removeLookupValue(value)"></i></div></div>

                                </span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui-g-12 form-group" *ngIf="showlookups">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue" required> Length </label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <span class="md-inputfield">
                                <input type="text" placeholder="Enter Length"  pInputText class="ui-inputtext ui-corner-all ui-widget"  [formControl]="propForm.controls['length']" >
                            </span>
                    </div>
                </div>
                <br>
                <div class="ui-g-12 form-group" *ngIf="!isAdd">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue" required> Descriptions </label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad">
                        <span class="md-inputfield">
                                    <input type="text" placeholder="Enter Descriptions"  pInputText class="ui-inputtext ui-corner-all ui-widget"  [formControl]="propForm.controls['descriptions']" >
                                </span>
                    </div>
                </div>
                <br>

                <div class="ui-g-12">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left" (click)="cancelAdd()">
                                        <span class="ui-button-icon-left fa fa-close"></span>
                                        <span class="ui-button-text clearWidthBtn">Clear</span>
                                    </button>
                    </div>
                    <div class="ui-g-3" *ngIf="isAdd">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" [disabled]="propForm.invalid" (click)="propsFormSubmitted(propForm)">
                                <span class="ui-button-icon-left fa fa-plus"></span>
                                <span class="ui-button-text">Save</span>
                            </button>
                    </div>
                    <div class="ui-g-3" *ngIf="!isAdd">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" [disabled]="propForm.invalid" (click)="propsFormSubmitted(propForm)">
                                <span class="ui-button-icon-left fa fa-plus"></span>
                                <span class="ui-button-text">Update</span>
                            </button>
                    </div>
                    <div class="ui-g-3"></div>
                </div>
            </form>
        </div>
        <div class="ui-g-2"></div>

        <br>
    </div>
</div>