<div class="card ui-g-12 minHeight">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-1 ui-g-nopad left0">
            <button pButton type="button" *ngIf="!isView" icon="ui-icon-undo" (click)="clickedOnView();" tooltipPosition="bottom" pTooltip="{{'View Existing Roles List' | translate}}"></button>
        </div>
        <div class="ui-g-6 ui-g-nopad top10">
            <span class="ui-panel-title title" *ngIf="isView">{{ 'Roles List' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="isAdd">{{ 'Add New Roles List' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="!isAdd && !isView">{{ 'Update Roles List' | translate }}</span>
        </div>
        <div class=" ui-g-4">
            <!-- <input type="text" #uwr (input)="uwr.filter" class="color" *ngIf="isView" placeholder="{{ 'Filter...' | translate }}" pInputText icon="ui-icon-refresh"> -->
        </div>
        <div class="ui-g-1" *ngIf="isView"></div>
        <div class="ui-g-1 ui-g-nopad textRight addBtnBottomGap">
            <button pButton type="button" *ngIf="(!isAdd)" icon="fa-plus" (click)="clickedOnAdd();" tooltipPosition="bottom" pTooltip="{{'Add New Roles List' | translate}}"></button>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad" *ngIf="isView">
        <p-dataTable [value]="source" (onRowClick)="editRolesList($event.data)" selectionMode="single" [paginator]="true" [rows]="15" [responsive]="true" emptyMessage="{{'No records found' | translate}}">
            <!-- [globalFilter]="uwr" -->
            <p-column field="name" header="{{'Name' | translate}}" [sortable]="true" [filter]="true"></p-column>
        </p-dataTable>
    </div>
    <div class=" ui-g-12 ui-g-nopad top10" *ngIf="!isView">
        <div [class]="availabaleRoles ? 'ui-g-1 ui-g-nopad': 'ui-g-2'">
        </div>
        <div [class]="availabaleRoles ? 'ui-g-6 ui-g-nopad': 'ui-g-8 ui-g-nopad'">
            <form [formGroup]="formRolesList" (ngSubmit)="rolesListFormSubmitted(formRolesList)" #myformUser="ngForm">
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue" required>Name <span class="redStar">*</span></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <span class="md-inputfield">
                        <input type="text" placeholder="Enter User Name"  pInputText class="ui-inputtext ui-corner-all ui-widget"  [formControl]="formRolesList.controls['name']" [ngClass]="{'ng-dirty ng-invalid': formRolesList.controls['name'].hasError('required') && formRolesList.controls['name'].touched}" required>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="formRolesList.controls['name'].hasError('required') && (formRolesList.controls['name'].touched || myformUser.submitted)">
                        Roles list name is required.
                        </div>
                    </span>
                    </div>
                </div>
                <div class="ui-g-12 top labelmargbtm" *ngIf="!isAdd">
                    <label class="blue">Add Role</label>
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class=" ui-grid-row ">
                                <div class="ui-grid-col-12 dropdownTop" style="margin-top: 10px; margin-left: -2px;">
                                    <p-dropdown [options]="filteredRoles" [autoWidth]="false" [formControl]="formRolesList.controls['roleName']" filter="true" optionLabel="label" placeholder="Select User" (onChange)="roleNamechanged($event)"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left" (click)="cancelAdd()">
                                        <span class="ui-button-icon-left fa fa-close"></span>
                                        <span class="ui-button-text clearWidthBtn">Clear</span>
                                    </button>
                    </div>
                    <div class="ui-g-3" *ngIf="isAdd">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width">
                                <span class="ui-button-icon-left fa fa-plus"></span>
                                <span class="ui-button-text">Save</span>
                            </button>
                    </div>
                    <div class="ui-g-3" *ngIf="!isAdd">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width">
                                <span class="ui-button-icon-left fa fa-plus"></span>
                                <span class="ui-button-text" >Update</span>
                            </button>
                    </div>
                    <div class="ui-g-3"></div>
                </div>
            </form>
        </div>
        <div [class]="availabaleRoles ? 'ui-g-5 right': 'ui-g-1'" *ngIf="availabaleRoles">
            <h4>Added Roles</h4>
            <div class="ui-g-12 ui-g-nopad listMaxHeight">
                <div class="ui-g-12 ui-g-nopad" *ngFor="let value of showRolesFromListed">
                    <div class="ui-g-10 ui-g-nopad">
                        {{value.name}}
                    </div>
                    <div class="ui-g-2 ui-g-nopad iconBtmGap">
                        <button pButton type="button" icon="fa-close pointer" tooltipPosition="top" pTooltip="{{'Remove Role' | translate}}" (click)="deleteRoleModel(value)"></button>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<ngx-smart-modal #deleteRoleUsers identifier="deleteRoleUsers" (onClose)="websocketNotOpen = false">
    <div class="modal-header">
        <h4 class="text-center top0 btmborder">Confirmation!</h4>
    </div>
    <div class="modal-body " *ngIf="deleteValue">
        <label> {{deleteValue.name}} will remove, are you sure?</label>
    </div>
    <div class="modal-footer">
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-8 ui-g-nopad"></div>
            <div class="ui-g-4 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="deleteRoleUsers.close();">
                        <span class="ui-button-icon-left fa fa-close"></span>
                        <span class="ui-button-text">No</span>
                    </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="deleteRoleUsers.close(); deleteConfirmed()">
                        <span class="ui-button-icon-left fa fa-check"></span>
                        <span class="ui-button-text">Yes</span>
                    </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>