.mapBtnTopGap {
    margin-top: 416px !important;
}

:host ::ng-deep .ui-widget-content {
    border: none !important;
}

.listHeight {
    min-height: 300px;
    max-height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

:host ::ng-deep .ui-tabview .ui-tabview-panel {
    padding: 6px !important;
}

.backColor {
    background: #00CBE7;
    color: #fff;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.boldText {
    font-weight: bold;
}

.padd7 {
    padding: 7px;
}

.labelmargbtm {
    margin-bottom: 11px;
}

.margbtm {
    margin-bottom: 10px;
    margin-left: -2px;
}

.blue {
    color: cadetblue;
}