<div class="card ui-g-12 minHeight">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-6 ui-g-nopad top10">
            <span class="ui-panel-title title">{{ 'Recylcle Bin Documents' | translate }}</span>
        </div>
        <div class=" ui-g-4">
            <span></span>
        </div>

    </div>
    <div class="ui-g-12 ui-g-nopad">
        <p-dataTable [value]="source" selectionMode="single" [paginator]="true" [rows]="15" [responsive]="true" emptyMessage="{{'No records found' | translate}}">
            <p-column field="docTitle" header="{{' Title' | translate}}" [sortable]="true" [filter]="true">
            </p-column>
            <p-column field="format" header="Format" [sortable]="true" [filter]="true"></p-column>
            <p-column field="modOn" header="Modified On" [sortable]="true" [filter]="true"></p-column>
            <p-column field="modifier" header="Modifier" [sortable]="true" [filter]="true"></p-column>
            <p-column field="docclass" header="Document Class" [sortable]="true" [filter]="true"></p-column>
            <p-column field="verNo" header="Version" [sortable]="true" [filter]="true"></p-column>
            <p-column header="Restore" [style]="{'width': '100' + 'px'}">
                <ng-template pTemplate="body">
                    <i class="material-icons ui-icon-refresh" (click)="restore()"></i>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>