<div class="card ui-g-12 minHeight">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-1 ui-g-nopad">
            <button pButton type="button" *ngIf="!isView" icon="ui-icon-undo" (click)="clickedOnView();" tooltipPosition="bottom" pTooltip="{{'View Root Folders' | translate}}"></button>
        </div>
        <div class="ui-g-6 ui-g-nopad top10">
            <span class="ui-panel-title title" *ngIf="isView">{{ 'Root Folders' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="isAdd">{{ 'Add New Root Folder' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="!isAdd && !isView">{{ 'Update Root Folder' | translate }}</span>
        </div>
        <div class=" ui-g-4">
            <span></span>
            <!-- <input type="text" #uw class="color inputWidth" *ngIf="isView" placeholder="{{ 'Filter...' | translate }}" pInputText icon="ui-icon-refresh"> -->
        </div>
        <div class="ui-g-1" *ngIf="isView"></div>
        <div class="ui-g-1 ui-g-nopad textRight addBtnBottomGap">
            <button pButton type="button" *ngIf="(!isAdd)" icon="fa-plus" (click)="clickedOnAdd();" tooltipPosition="bottom" pTooltip="{{'Add New Root Folder' | translate}}"></button>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad" *ngIf="isView">
        <p-dataTable [value]="rootFolderResult" (onRowClick)="editRootFolder($event)" selectionMode="single" [paginator]="true" [rows]="15" [responsive]="true" emptyMessage="{{'No records found' | translate}}">
            <!-- [globalFilter]="uw" -->
            <p-column field="name" header="{{'Root Folder Name' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column header="Edit" [style]="{'width': '100' + 'px'}">
                <ng-template pTemplate="body">
                    <i class="material-icons">edit</i>
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
    <div class="ui-g-12 ui-g-nopad top10" *ngIf="!isView">
        <div class="ui-g-2"></div>
        <div class="ui-g-8">
            <form [formGroup]="rootFolderForm" (ngSubmit)="rootFolderSubmitted(rootFolderForm)" #myformRoot="ngForm">
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue">Name<sup class="redStar">*</sup></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <input type="text" pInputText formControlName="name" placeholder="Enter Name">
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="ui-g-12 form-group topGap">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left" (click)="cancelAdd()">
                                          <span class="ui-button-icon-left fa fa-close"></span>
                                          <span class="ui-button-text clearWidthBtn">Clear</span>
                                      </button>
                    </div>
                    <div class="ui-g-3" *ngIf="isAdd">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" [disabled]="rootFolderForm.invalid">
                                  <span class="ui-button-icon-left fa fa-plus"></span>
                                  <span class="ui-button-text">Save</span>
                              </button>
                    </div>
                    <div class="ui-g-3" *ngIf="!isAdd">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" [disabled]="rootFolderForm.invalid">
                                  <span class="ui-button-icon-left fa fa-plus"></span>
                                  <span class="ui-button-text">Update</span>
                              </button>
                    </div>
                    <div class="ui-g-3"></div>
                </div>
            </form>
            <br>
            <div class="ui-g-12 ui-g-nopad" *ngIf="!isAdd">
                <p-accordion>
                    <p-accordionTab header="Permissions" [selected]="selectedTab1 === true">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-g-nopad" *ngIf="permissionList">
                                <div class="ui-g-12 top10 ui-g-nopad">
                                    <div class="ui-g-4 bold ">Role Name</div>
                                    <div class="ui-g-3 bold ">Access Type</div>
                                    <div class="ui-g-3 bold ">Access Level</div>
                                    <div class="ui-g-2"></div>
                                </div>
                                <div class=" ui-g-12 ui-g-nopad padding overScroll" *ngFor="let value of permissionsResult">
                                    <div>
                                        <div class="ui-g-4">{{value.granteeName}}</div>
                                        <div class="ui-g-3 "><span *ngIf="value.inheritDepth === 0">This Object Only</span>
                                            <span *ngIf="value.inheritDepth === 1">Inherit</span>
                                        </div>
                                        <div class="ui-g-3 ">{{value.accessLevel}}</div>
                                        <div class="ui-g-2 ">
                                            <button pButton type="button" tooltipPosition="top" pTooltip="{{'Delete Permission' | translate}}" icon="fa-close" (click)="deleteAlert(value)"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-accordionTab>
                    <p-accordionTab header="{{ 'Add permission' | translate}}" [selected]="selectedTab2 === true">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-g-nopad">
                                <form [formGroup]="permissionForm" (ngSubmit)="permissionFormSubmitted(permissionForm)" #myformPermission="ngForm">
                                    <div class="ui-g-12 form-group">
                                        <div class="ui-g-12  ">
                                            <label>Select Role<sup class="redStar">*</sup></label>
                                        </div>
                                        <div class="ui-g-12 ui-g-nopad">
                                            <div class=" ui-grid ui-grid-responsive ui-fluid">
                                                <div class=" ui-grid-row ">
                                                    <div class="ui-grid-col-12 ">
                                                        <p-autoComplete formControlName="proproleid" [(ngModel)]="dbDummyValue" field="name" [suggestions]="dbvalue" searchtext (completeMethod)="onSearchAutoStextTA($event)" [multiple]="false" [id]="'idname'" [dropdown]="true" [minLength]="3" placeholder="{{' Search Role' | translate}}"
                                                            (onSelect)="selectSingle($event)" [ngClass]="{'ng-dirty ng-invalid': permissionForm.controls['proproleid'].hasError('required') && permissionForm.controls['proproleid'].touched && permissionForm.controls['proproleid'].invalid}"></p-autoComplete>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="ui-g-12 form-group">
                                        <div class="ui-g-12 ">
                                            <label>Access Level<sup class="redStar">*</sup></label>
                                        </div>
                                        <div class="ui-g-12">
                                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                                <div class=" ui-grid-row ">
                                                    <div class="ui-grid-col-12 dropdownTop">
                                                        <p-dropdown [options]="accessLevelDrop" [autoWidth]="false" formControlName="propaccesslevel" placeholder="Select Access Level" (onChange)="accessLevelChanged($event)"></p-dropdown>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="ui-g-12 form-group">
                                        <div class="ui-g-12 ">
                                            <label>Applies To<sup class="redStar">*</sup></label>
                                        </div>
                                        <div class="ui-g-12">
                                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                                <div class=" ui-grid-row ">
                                                    <div class="ui-grid-col-12 dropdownTop">
                                                        <p-dropdown [options]="appliesToDrop" [autoWidth]="false" formControlName="propaccesstype" placeholder="Select Access Type"></p-dropdown>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="ui-g-12">
                                        <div class="ui-g-3"></div>
                                        <div class="ui-g-3">
                                            <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left right" (click)="cancelAddPer()">
                                                              <span class="ui-button-icon-left fa fa-close"></span>
                                                              <span class="ui-button-text clearWidthBtn">Clear</span>
                                                          </button>
                                        </div>
                                        <div class="ui-g-3" *ngIf="!isAdd">
                                            <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width left" [disabled]="permissionForm.invalid">
                                                      <span class="ui-button-icon-left fa fa-plus"></span>
                                                      <span class="ui-button-text">Add</span>
                                                  </button>
                                        </div>

                                        <div class="ui-g-3"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </p-accordionTab>

                </p-accordion>
            </div>
        </div>
    </div>
</div>

<ngx-smart-modal #deleteConfirmationAlert identifier="deleteConfirmationAlert" (onClose)="websocketNotop10en = false">
    <div class="modal-header">
        <h4 class="text-center top100 btmborder">Confirmation!</h4>
    </div>
    <div class="modal-body " *ngIf="dbvalue">
        <label>This permission is going to delete, are you sure?</label>
    </div>
    <div class="modal-footer">
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-8 ui-g-nopad"></div>
            <div class="ui-g-4 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="deleteConfirmationAlert.close();">
                      <span class="ui-button-icon-left fa fa-close"></span>
                      <span class="ui-button-text">No</span>
                  </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="deleteConfirmationAlert.close(); deleteConfirmed()">
                      <span class="ui-button-icon-left fa fa-check"></span>
                      <span class="ui-button-text">Yes</span>
                  </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>