.footerValue {
    color: #fff !important;
    margin-left: 3.3%;
}

.buttonStrip {
    position: fixed;
    z-index: 1001;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.app-name {
    font-size: 21px !important;
}