<div class="layout-sidebar" [ngClass]="{'layout-sidebar-active': app.sidebarActive, 'layout-sidebar-dark': app.darkMenu}" (click)="app.onSidebarClick($event)" (mouseover)="app.sidebarActive=true" (mouseleave)="app.sidebarActive=false">
    <div class="sidebar-logo">
        <a routerLink="/dashboard" *ngIf="previewLogo !== ''">
            <!-- <img alt="logo" [src]="previewLogo" style="width: 190px;height: 40px; padding-top: 5px;" /> -->
            <!-- <span class="app-name">{{'Productiviti' | translate }} </span> -->
            <img alt="logo" src="assets/images/logos/app-logo.png" style="width: 153px;height: 40px; padding-top: 5px;" />
            <!-- <span class="app-name">{{'Pistaceo' | translate }} </span> -->
        </a>
        <a routerLink="/dashboard" *ngIf="previewLogo === ''">
            <img alt="logo" src="assets/images/logos/app-logo.png" style="width: 153px;height: 40px;padding-top: 3px; padding-left: 7px" />
        </a>
        <a class="sidebar-anchor" title="Toggle Menu" (click)="app.onToggleMenuClick($event)"></a>
    </div>

    <div #layoutMenuScroller class="nano">
        <div class="nano-content sidebar-scroll-content" style="margin-right: -10px;">
            <div class="layout-menu-container" (click)="updateNanoScroll()">
                <ul app-submenu [item]="model" root="true" (click)="itemColor(model)" class="layout-menu" visible="true" [reset]="reset"></ul>
            </div>
            <!-- <div class="layout-menu-container buttonStrip">
                <img width="200" height="100px" src="assets/images/logos/logo.png">
            </div> -->

            <a class="nav-link buttonStrip" style="font-size: 10px">
                <span (click)="officialWebsite()" class="ff-headers footerValue pointer">{{'Copyright' | translate}} &copy; {{'HashECM 2018-20' | translate}}</span>
            </a>
        </div>
    </div>
</div>