$primaryColor:#13293D;
$primaryDarkColor:#006494;
$primaryLightColor:#247BA0;
$primaryLightestColor:#1B98E0;
$primaryTextColor:#E8F1F2;
$accentColor:#1B98E0;
$accentDarkColor: #247BA0;
$accentLightColor: #E8F1F2;
$accentTextColor: #006494;

@import '../sass/theme/_theme';