<div class="card ui-g-12 minHeight">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-1 ui-g-nopad left0">
            <button pButton type="button" *ngIf="!isView" icon="ui-icon-undo" (click)="clickedOnView();" tooltipPosition="bottom" pTooltip="{{'View Existing Users' | translate}}"></button>
        </div>
        <div class="ui-g-6 ui-g-nopad top10">
            <span class="ui-panel-title title" *ngIf="isView">{{ 'Users' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="isAdd">{{ 'Add New User' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="!isAdd && !isView">{{ 'Update User' | translate }}</span>
        </div>
        <div class=" ui-g-4">
            <span></span>
        </div>
        <div class="ui-g-1" *ngIf="isView"></div>
        <div class="ui-g-1 ui-g-nopad textRight addBtnBottomGap">
            <button pButton type="button" *ngIf="(!isAdd)" icon="fa-plus" (click)="clickedOnAdd();" tooltipPosition="bottom" pTooltip="{{'Add New User' | translate}}"></button>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad" *ngIf="isView">
        <p-dataTable [value]="userList" [rowStyleClass]="lookupRowStyleClass" (onRowClick)="editUser($event)" selectionMode="single" [paginator]="true" [rows]="15" [responsive]="true" emptyMessage="{{'No records found' | translate}}">
            <p-column field="userLogin" header="{{'User Login' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="fulName" header="{{'Full Name' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="title" header="{{'Title' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="mail" header="{{'Email' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="orgName" header="{{'Organization' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="status" header="{{'Status' | translate}}" [sortable]="true" [style]="{'width': '100' + 'px'}" [filter]="true"></p-column>
        </p-dataTable>
    </div>
    <div class=" ui-g-12 ui-g-nopad top10" *ngIf="!isView">
        <div class="ui-g-5 ui-g-nopad">
            <app-orgtree [repository]="repository" (selectedOrg)="edit($event)" (topClick)="topClicked()" [addingNode]="addingNewNode" style="width:100%"></app-orgtree>
        </div>
        <div class="ui-g-7 ui-g-nopad">
            <form [formGroup]="userForm" (ngSubmit)="userFormSubmitted(userForm)" #myformUser="ngForm">
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue" required>User Name <span class="redStar">*</span></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <span class="md-inputfield">
                            <input type="text" placeholder="Enter User Name"  pInputText class="ui-inputtext ui-corner-all ui-widget"  [formControl]="userForm.controls['fulName']" [ngClass]="{'ng-dirty ng-invalid': userForm.controls['fulName'].hasError('required') && userForm.controls['fulName'].touched}" required>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="userForm.controls['fulName'].hasError('required') && (userForm.controls['fulName'].touched || myformUser.submitted)">
                            User name is required.
                            </div>
                        </span>
                    </div>
                </div>
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue" required>User Type <span class="redStar">*</span></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <p-dropdown [options]="userTypeOptions" [formControl]="userForm.controls['userType']" [autoWidth]="false" id="usertype" (onChange)="userTypeChanged($event)"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue" required *ngIf="deploymentType !== 'Cloud'">Login Name<span class="redStar">*</span></label>
                        <label class="blue" *ngIf="deploymentType === 'Cloud'">Login Email <span  class="redStar">*</span></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm" *ngIf="userForm.controls['userType'].value === 'HASH'">
                        <span class="md-inputfield">
                                <input type="text" (keyup)="type($event)" placeholder="Enter User Login"  pInputText  class="ui-inputtext ui-corner-all ui-widget"  [formControl]="userForm.controls['userLogin']" [ngClass]="{'ng-dirty ng-invalid': userForm.controls['userLogin'].hasError('required') && userForm.controls['userLogin'].touched}"
                                required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,6}$">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="userForm.controls['userLogin'].hasError('required') && (userForm.controls['userLogin'].touched || myformUser.submitted)">
                               Login email is required.
                                </div>
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="userForm.controls['userLogin'].hasError('pattern')">
                                    Invalid Login Email
                                </div>
                            </span>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm" *ngIf="userForm.controls['userType'].value === 'AD'">
                        <div class=" ui-grid-row ">
                            <div class="ui-grid-col-12 ">
                                <p-autoComplete [formControl]="userForm.controls['userLogin']" [(ngModel)]="dbDummyValue" field="name" [suggestions]="dbvalue" searchtext (completeMethod)="onSearch($event)" [multiple]="false" id="loginName" [dropdown]="true" [minLength]="3" placeholder="{{'Search Login Name' | translate}}"
                                    (onSelect)="selectSingle($event)" [ngClass]="{'ng-dirty ng-invalid': userForm.controls['userLogin'].hasError('required') && userForm.controls['userLogin'].touched && userForm.controls['userLogin'].invalid}"></p-autoComplete>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue" required>User Title <span class="redStar">*</span></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <span class="md-inputfield">
                                <input type="text" placeholder="Enter User Title"  pInputText class="ui-inputtext ui-corner-all ui-widget"  [formControl]="userForm.controls['title']" [ngClass]="{'ng-dirty ng-invalid': userForm.controls['title'].hasError('required') && userForm.controls['title'].touched}" required>
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="userForm.controls['title'].hasError('required') && (userForm.controls['title'].touched || myformUser.submitted)">
                                User title is required.
                                </div>
                            </span>
                    </div>
                </div>

                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue" required>Email <span class="redStar">*</span></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <span class="md-inputfield">
                            <!-- <input type="text" placeholder="Enter Email"  pInputText  class="ui-inputtext ui-corner-all ui-widget"  [formControl]="userForm.controls['mail']" [ngClass]="{'ng-dirty ng-invalid': userForm.controls['mail'].hasError('required') && userForm.controls['mail'].touched}"
                            required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,6}$"> -->

                            <input *ngIf="deploymentType !== 'Cloud'" type="text" placeholder="Enter Email"  pInputText  class="ui-inputtext ui-corner-all ui-widget"  [formControl]="userForm.controls['mail']" [ngClass]="{'ng-dirty ng-invalid': userForm.controls['mail'].hasError('required') && userForm.controls['mail'].touched}"
                            required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,6}$">

                            <input *ngIf="deploymentType === 'Cloud'" type="text" [(ngModel)]="emailvalue" placeholder="Enter Email"  pInputText  class="ui-inputtext ui-corner-all ui-widget"  [formControl]="userForm.controls['mail']" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,6}$">
                            <!-- <div class="ui-message ui-messages-error ui-corner-all" *ngIf="userForm.controls['mail'].hasError('required') && (userForm.controls['mail'].touched || myformUser.submitted)">
                            Email is required.
                            </div>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="userForm.controls['mail'].hasError('pattern')">
                                Invlid Email
                            </div> -->
                        </span>
                    </div>
                </div>
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue" required>Organization <span class="redStar">*</span></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <span class="md-inputfield">
                        <span  (click)="selectOrg()">
                            <input type="text" placeholder="Select Organization"  pInputText class="ui-inputtext ui-corner-all ui-widget pointer"  [formControl]="userForm.controls['orgName']" [ngClass]="{'ng-dirty ng-invalid': userForm.controls['orgName'].hasError('required') && userForm.controls['orgName'].touched}" required readonly="true" >
                        </span>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="userForm.controls['orgName'].hasError('required') && (userForm.controls['orgName'].touched || myformUser.submitted)">
                            Organization is required.
                        </div>
                        </span>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left" (click)="cancelAdd()">
                                            <span class="ui-button-icon-left fa fa-close"></span>
                                            <span class="ui-button-text clearWidthBtn">Clear</span>
                                        </button>
                    </div>
                    <div class="ui-g-3" *ngIf="isAdd">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width">
                                    <span class="ui-button-icon-left fa fa-plus"></span>
                                    <span class="ui-button-text">Save</span>
                                </button>
                    </div>
                    <div class="ui-g-3" *ngIf="!isAdd">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width">
                                    <span class="ui-button-icon-left fa fa-plus"></span>
                                    <span class="ui-button-text">Update</span>
                                </button>
                    </div>
                    <div class="ui-g-3"></div>
                </div>

            </form>
            <div class="ui-g-12 ui-g-nopad" *ngIf="!isAdd">
                <div class="ui-g-12 " *ngIf="selectedUser.isAdmin === 'N'">
                    <div class="ui-g-6">
                        <label>Assign As Admin</label>
                    </div>
                    <div class="ui-g-6 ">
                        <button pButton class="ui-button-icon-primary" icon="fa-check" (click)="makeUserAdmin()"></button>
                    </div>
                </div>
                <div class="ui-g-12 " *ngIf="selectedUser.isAdmin === 'Y'">
                    <div class="ui-g-6">
                        <label>Remove User From Admin</label>
                    </div>
                    <div class="ui-g-6 ">
                        <button pButton class="ui-button-icon-primary" icon="fa-close" (click)="makeUserAdmin()"></button>
                    </div>
                </div>
                <div class="ui-g-12 " *ngIf="selectedUser.status === 'ACTIVE'">
                    <div class="ui-g-6">
                        <label>Inactivate User</label>
                    </div>
                    <div class="ui-g-6 ">
                        <button pButton class="ui-button-icon-primary" icon="ui-icon-airplanemode-inactive" (click)="makeUserInactivate()"></button>
                    </div>
                </div>
                <div class="ui-g-12 " *ngIf="selectedUser.status === 'INACTIVE'">
                    <div class="ui-g-6">
                        <label>Activate User</label>
                    </div>
                    <div class="ui-g-6 ">
                        <button pButton class="ui-button-icon-primary" icon="ui-icon-airplanemode-active" (click)="makeUserInactivate()"></button>
                    </div>
                </div>
                <div class="ui-g-12 ">
                    <div class="ui-g-6">
                        <label>Reset Password</label>
                    </div>
                    <div class="ui-g-6 ">
                        <button pButton class="ui-button-icon-primary" icon="ui-icon-lock-open" (click)="resetPassword()"></button>
                    </div>
                </div>
                <div class="ui-g-12 ">
                    <div class="ui-g-6">
                        <label>Assign Supervisor</label>
                    </div>
                    <div class="ui-g-6 ">
                        <button pButton class="ui-button-icon-primary" icon="ui-icon-supervisor-account" (click)="assignSupervisor()"></button>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>

<ngx-smart-modal #assignAdmin identifier="assignAdmin" (onClose)="websocketNotOpen = false">
    <div class="modal-header">
        <h4 class="text-center top0 btmborder">Confirmation!</h4>
    </div>
    <div class="modal-body " *ngIf="selectedUser">
        <label *ngIf="selectedUser.isAdmin === 'N'"> {{selectedUser.fulName}} will become admin, are you sure?</label>
        <label *ngIf="selectedUser.isAdmin === 'Y'"> {{selectedUser.fulName}} will remove from admin, are you sure? </label>
    </div>
    <div class="modal-footer">
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-8 ui-g-nopad"></div>
            <div class="ui-g-4 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="assignAdmin.close();">
                    <span class="ui-button-icon-left fa fa-close"></span>
                    <span class="ui-button-text">No</span>
                </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="assignAdmin.close(); adminUserClick()">
                    <span class="ui-button-icon-left fa fa-check"></span>
                    <span class="ui-button-text">Yes</span>
                </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>

<ngx-smart-modal #inactivateUser identifier="inactivateUser" (onClose)="websocketNotOpen = false">
    <div class="modal-header">
        <h4 class="text-center top0 btmborder">Confirmation!</h4>
    </div>
    <div class="modal-body " *ngIf="selectedUser">
        <label for="" *ngIf="selectedUser.status === 'ACTIVE'">{{selectedUser.fulName}} will become inactive, are you sure?</label>
        <label for="" *ngIf="selectedUser.status === 'INACTIVE'"> {{selectedUser.fulName}} will become active, are you sure?</label>
    </div>
    <div class="modal-footer">
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-8 ui-g-nopad"></div>
            <div class="ui-g-4 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="inactivateUser.close();">
                    <span class="ui-button-icon-left fa fa-close"></span>
                    <span class="ui-button-text">No</span>
                </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="inactivateUser.close(); inactivateClick()">
                    <span class="ui-button-icon-left fa fa-check"></span>
                    <span class="ui-button-text">Yes</span>
                </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>
<ngx-smart-modal #resetPasswords identifier="resetPasswords" (onClose)="websocketNotOpen = false">
    <div class="modal-header">
        <h4 class="text-center top0 btmborder">Confirmation!</h4>
    </div>
    <div class="modal-body " *ngIf="selectedUser">
        <label> {{selectedUser.fulName}}'s password is going to reset, are you sure?</label>
    </div>
    <div class="modal-footer">
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-8 ui-g-nopad"></div>
            <div class="ui-g-4 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="resetPasswords.close();">
                    <span class="ui-button-icon-left fa fa-close"></span>
                    <span class="ui-button-text">No</span>
                </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="resetPasswords.close(); resetOk()">
                    <span class="ui-button-icon-left fa fa-check"></span>
                    <span class="ui-button-text">Yes</span>
                </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>
<ngx-smart-modal #assignedSupervisor identifier="assignedSupervisor" (onClose)="websocketNotOpen = false">
    <div class="modal-header">
        <h4>Assign Supervisor</h4>
    </div>
    <div class="modal-body ">
        <div class="ui-g-12" *ngIf="existingSupervisor">
            <label>Selected Supervisor : <b>{{existingSupervisor.name}}</b></label>
        </div>
        <div class="ui-g-12">
            <label>Select Supervisor<sup class="redStar">*</sup></label>
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-grid ui-grid-responsive ui-fluid">
                    <div class=" ui-grid-row ">
                        <div class="ui-grid-col-12 dropdownTop">
                            <p-dropdown [options]="roles" [autoWidth]="false" [(ngModel)]="rolesSelect" filter="true" optionLabel="label" placeholder="Select Role" (onChange)="supervisorSelected($event)"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-8 ui-g-nopad"></div>
            <div class="ui-g-4 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="assignedSupervisor.close();">
                    <span class="ui-button-icon-left fa fa-close"></span>
                    <span class="ui-button-text">No</span>
                </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="assignedSupervisor.close(); saveSupervisor()">
                    <span class="ui-button-icon-left fa fa-check"></span>
                    <span class="ui-button-text">Yes</span>
                </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>