:host ::ng-deep .ui-widget-content {
    border: none !important;
}

.removeextraspace {
    cursor: pointer;
    margin: 0 !important;
    width: 100%;
    background: none;
    border-bottom: 1px solid #afaaaa;
    text-align: left !important;
}

.amtClass {
    background: #FFB300;
    color: #fff;
    font-weight: 500;
    margin: 3px;
    padding: 5px;
    border-radius: 3px;
    display: block;
}

.gap {
    margin: 0;
    margin-bottom: 10px;
}

.inputHeight {
    height: 30px !important;
}

.selectDropDown {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

select:focus>option:checked {
    background: #FFB300 !important;
    color: #fff !important;
    padding: 20px !important;
    margin: 10px !important;
}

select>option {
    height: 20px !important;
    padding: 10px !important;
}

.font {
    font-weight: bold;
    color: #FFB300;
    /* font-size: 19px; */
    margin: 0 !important;
}

.fontCircle {
    font-size: 16px;
}

.textShow {
    font-size: 20px;
    font-weight: bold;
    color: #7cb342;
}

.formLabel {
    font-weight: bold;
    text-align: center !important;
    text-transform: uppercase;
}

.preToggle {
    display: none;
}

.preColToggle {
    display: none;
}

.dotSize {
    font-size: 10px;
}

.text-uppercase {
    text-transform: uppercase;
    margin: 0;
}

.margin0 {
    margin: 0;
}

p {
    margin: 1px !important;
}

.editBtnSize {
    font-size: 13px !important;
    margin-top: -10px !important;
}

.heading {
    font-weight: bold;
}

.formWidth {
    width: 100%;
}

.closeSize {
    font-size: 11px !important;
    font-weight: bold !important;
}

.dropdown-content {
    width: 40.3% !important;
}

.closeParams {
    text-align: right !important;
}

.overFlowAutofill {
    max-height: 100px;
    overflow-y: auto;
}