<div class="login-body">
    <div class="login-panel ui-fluid">
        <!-- <div class="login-panel-header">
        </div> -->
        <div class="login-panel-content">
            <div class="ui-g">
                <div class="ui-g-12 text-center">
                    <div class="ui-g-2 ui-md-2 ui-sm-2"></div>
                    <div class="ui-g-12 ui-md-12 ui-sm-12">
                        <img height="100px" src="assets/images/logos/pistaceologo.png">
                        <!-- <img height="100px" src="assets/images/logos/logo1.png"> -->
                    </div>
                    <div class="ui-g-2 ui-md-2 ui-sm-2"></div>
                    <div class="ui-g-12 ui-g-nopad">
                        <h1>Administration Application</h1>
                    </div>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
                    <div class="ui-g-12">
                        <span class="md-inputfield">
                            <input type="text"  pInputText class="ui-inputtext ui-corner-all ui-widget" [formControl]="form.controls['uname']" [ngClass]="{'ng-dirty ng-invalid': form.controls['uname'].hasError('required') && form.controls['uname'].touched}" required (keypress)="signTyped()" >
                            <label>Username</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched">
                            Username is required.
                            </div>
                        </span>
                    </div>
                    <div class="ui-g-12">
                        <span class="md-inputfield">
                            <input type="password" pInputText class="ui-inputtext ui-corner-all ui-widget"  [formControl]="form.controls['password']" [ngClass]="{'ng-dirty ng-invalid': form.controls['password'].hasError('required') && form.controls['password'].touched}" required >
                            <label>Password</label>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="capsOn">WARNING! Caps lock is ON.</div>

                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">Password is required.</div>
                        </span>
                    </div>
                    <!-- <div class="ui-g-12">
                        <span class="md-inputfield">
                            <p-checkbox  (onChange)="saveLoginDetails($event)" name="userSave" binary="true" [formControl]="form.controls['saveUser']" [(ngModel)]="showcookiepolicy"></p-checkbox><span>Save User Information</span>
                        </span>
                    </div> -->
                    <div class="ui-g-12">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left" [disabled]="!form.valid">
                            <span class="ui-button-icon-left fa ui-icon-person"></span>
                            <span class="ui-button-text">Sign In</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <div class="ui-g-12 ui-g-nopad ui-g  boxposition" *ngIf="showcookiepolicy">
    <div class="ui-g-4 ui-sm-12"></div>
    <div class="ui-g-4 ui-sm-12 ui-g-nopad  card shadow">
        This application uses cookies. For details see the <a (click)="policy()" class="pointer">Cookie Policy</a>
    </div>
</div> -->

<div id="spinner" class="splash-screen ">
    <div class="splash-loader-container ">
        <svg class="splash-loader " width="65px " height="65px " viewBox="0 0 66 66 " xmlns="http://www.w3.org/2000/svg ">
               <circle class="path " fill="none " stroke-width="6 " stroke-linecap="round " cx="33 " cy="33 " r="30 "></circle>
            </svg>
    </div>
</div>