<div class="card ui-g-12 minHeight">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-6 ui-g-nopad">
            <span class="ui-panel-title title">{{ 'Configuration Settings' | translate }}</span>
        </div>
        <br>
        <div class="ui-g-12 ui-g-nopad top10" *ngIf="!editConfig">
            <form [formGroup]="configurationForm" (ngSubmit)="configurationFormSubmit($event)">
                <div class="ui-g-12 ui-g-nopad paddingTop10" *ngFor="let config of listOfConfig; let i = index ">
                    <div class="ui-g-1"></div>
                    <div class="ui-g-3">
                        <label for="label paddingTop10">{{config.label}}</label>
                    </div>
                    <div class="ui-g-5">
                        <input type="text" pInputText *ngIf="config.uiType === 'TEXT' " [formControlName]="config.name" [id]="config.name" [name]="config.name" placeholder="Enter {{config.label}}" class="form-control" (keyup)="textChanged($event.target, i)">
                        <input type="password" pInputText *ngIf="config.uiType === 'PASSWORD' " [formControlName]="config.name" [id]="config.name" [name]="config.name" placeholder="Enter {{config.label}} " class="form-control" (keyup)="textChanged($event.target, i)">
                        <input type="number" pInputText *ngIf="config.uiType === 'NUMBER' " [formControlName]="config.name" [id]="config.name" [name]="config.name" placeholder="Enter {{config.label}} " class="form-control" (keyup)="textChanged($event.target, i)">
                        <input type="text" pInputText *ngIf="config.uiType === 'ENCTEXT' " [formControlName]="config.name" [id]="config.name" [name]="config.name" placeholder="Enter {{config.label}} " class="form-control" (keyup)="textChanged($event.target, i)">
                        <textarea pInputTextarea *ngIf="config.uiType === 'TEXTAREA' " [formControlName]="config.name" [id]="config.name" [name]="config.name" placeholder="Enter {{config.label}} " class="form-control" rows="5" (keyup)="textChanged($event.target, i)"></textarea  >
                            <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-12 ui-g-nopad">
                                        <div class="ui-grid ui-grid-responsive ui-fluid">
                                            <div class=" ui-grid-row ">
                                                <div class="ui-grid-col-12 dropdownTop">
                                                    <p-dropdown [options]="config.lookUpValue" [autoWidth]="false"  [(ngModel)]="config.value" *ngIf="config.uiType === 'LOOKUP' " [formControlName]="config.name" [id]="config.name" [name]="config.name" (onChange)="textChangedLookup($event, i)"></p-dropdown>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-g-nopad" *ngIf="config.uiType === 'IMAGE' || config.uiType === 'SIGNATURE'">
                                        <div class="ui-g-9 ui-g-nopad paddingTop10" *ngIf="config.imageNameUpdated === '' ">
                                                {{config.imageName}}
                                            </div>
                                            <div class="ui-g-9 ui-g-nopad paddingTop10"  *ngIf="config.imageNameUpdated !== '' ">
                                                    {{config.imageNameUpdated}}
                                                </div>
                                            <div class="ui-g-1 ui-g-nopad  ">
                                                    <button pButton type="button" class="pointer" icon="ui-icon-attach-file" tooltipPosition="bottom" pTooltip="{{'Attach' | translate}}" class="pointer">
                                                            <input type="file" accept="image/*" [id]="config.name" ng2FileSelect  [uploader]="config.fileObject"   class="upload pointer"  (change)="fileChanged(config.fileObject, config.uiType , i)" />
                                                            </button>
                                            </div>
                                            <div class="ui-g-1 ui-g-nopad  pointer" *ngIf="config.value !== undefined">
                                                    <button pButton type="button"   icon="ui-icon-visibility"  tooltipPosition="bottom" pTooltip="{{'View' | translate}}" (click)="viewDocument(config.value)"></button>
                                                </div>
                                            <div class="ui-g-1 ui-g-nopad  pointer" *ngIf="config.value !== undefined">
                                                    <button pButton type="button"   icon="ui-icon-file-download"  tooltipPosition="bottom" pTooltip="{{'Download' | translate}}" (click)="downloadDocument(config.value)"></button>
                                                </div>
                                    </div>
                                    <div class="ui-g-12 ui-g-nopad" *ngIf="config.uiType === 'TEMPLATE'">
                                            <div class="ui-g-9 ui-g-nopad paddingTop10" *ngIf="config.imageNameUpdated === '' ">
                                                {{config.imageName}}
                                            </div>
                                            <div class="ui-g-9 ui-g-nopad paddingTop10"  *ngIf="config.imageNameUpdated !== '' ">
                                                    {{config.imageNameUpdated}}
                                                </div>
                                            <div class="ui-g-1 ui-g-nopad ">
                                                            <button pButton type="button" class="pointer" icon="ui-icon-attach-file" tooltipPosition="bottom" pTooltip="{{'Attach' | translate}}" class="pointer">
                                                                    <input type="file" accept="application/JSON" [id]="config.name" ng2FileSelect  [uploader]="config.fileObject"   class="upload pointer"  (change)="fileChanged(config.fileObject, config.uiType , i)" />
                                                                    </button>
                                            </div>
                                            <div class="ui-g-1 ui-g-nopad  pointer" *ngIf="config.value !== undefined">
                                                    <button pButton type="button"   icon="ui-icon-visibility"  tooltipPosition="bottom" pTooltip="{{'View' | translate}}" (click)="viewDocument(config.value)"></button>
                                                </div>
                                            <div class="ui-g-1 ui-g-nopad  pointer" *ngIf="config.value !== undefined">
                                                    <button pButton type="button"   icon="ui-icon-file-download"  tooltipPosition="bottom" pTooltip="{{'Download' | translate}}" (click)="downloadDocument(config.value)"></button>
                                                </div>
                                        </div>
                        </div>
                    <div class="ui-g-2">
                        <div class="ui-g-12 ui-g-nopad" *ngIf="updateIndex === i">
                            <div class="ui-g-6 ui-g-nopad textCenter">
                                    <button pButton type="button"   icon="fa-check"  tooltipPosition="bottom" pTooltip="{{'Update' | translate}}" (click)="updateConfigForm(i)"></button>
                            </div>
                            <div class="ui-g-6 ui-g-nopad">
                                    <button pButton type="button"   icon="fa-close"  tooltipPosition="bottom" pTooltip="{{'Reset' | translate}}" (click)="resetConfigForm(i)"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<ngx-smart-modal #imageViewModel identifier="imageViewModel" (onClose)="websocketNotop10en = false">
        <div class="modal-header">
            <h4 class="text-center top100 btmborder">Image View</h4>
        </div>
        <div class="modal-body ">
                <img class="imageBoundey" [src]="imageRender" width="600px">
        </div>

    </ngx-smart-modal>