@import "~ngx-smart-modal/ngx-smart-modal";
.large-modal {
    width: 75% !important;
    max-width: 520px !important;
    border-radius: 5px !important;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(213, 207, 207);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 99, 99);
}

.attachmentClass {
    max-height: 600px;
    overflow-y: auto;
}

#spinner {
    opacity: 0.7;
    z-index: 99999999;
}

input[type="text"][disabled] {
    color: black !important;
    font-weight: 600 !important;
    cursor: no-drop !important;
}

input[type="text"]:read-only {
    color: black;
    font-weight: 600;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
    font-weight: 300;
    font-size: 15px;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
    font-weight: 300;
    font-size: 15px;
}

.removeClass {
    visibility: hidden;
}

.showRemove:hover .removeClass {
    visibility: visible;
}

thead {
    font-weight: bold !important;
}

body div.ui-widget.ui-tooltip {
    z-index: 900000000000000000000000000000 !important;
}

.width {
    width: 94px;
}

.widthSaveBtn {
    width: 150px;
}

.clearWidthBtn {
    width: 52px;
}

.layout-wrapper .layout-sidebar .layout-menu li>a>.menuitem-text {
    word-break: break-word !important;
}

.ui-datatable .ui-datatable-data tr td {
    padding: .625em .875em;
    word-break: break-all !important;
}

body .ui-panel .ui-panel-titlebar {
    padding: 3.1px !important;
}

body .ui-datatable .ui-paginator {
    padding: 5px !important;
}

body .ui-paginator {
    padding: 5px !important;
}

body .ui-toolbar {
    padding: 4px !important;
}

body .ui-accordion .ui-accordion-header>a {
    padding: 7px !important;
}

.layout-wrapper .layout-main .layout-topbar {
    height: 55px !important;
}

.layout-wrapper .layout-sidebar .sidebar-logo {
    height: 55px !important;
}

.layout-wrapper .layout-main .layout-content {
    padding: 26px 4px 24px 4px !important;
}

.layout-wrapper .layout-main .layout-topbar .layout-topbar-menu-wrapper .topbar-menu>li.search-item label {
    margin-top: 10px !important;
}

.utlPosLeft {
    position: absolute;
    z-index: 1000;
    right: 2%;
    font-weight: bold;
    margin-top: 10px;
}

.urlPosRight {
    position: absolute;
    z-index: 1000;
    right: 17%;
    font-weight: bold;
    margin-top: 10px;
}

p.customfont {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
}

h1.fontWeight {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}

.minHeight {
    min-height: 700px;
}

.title {
    font-size: 17px;
    font-weight: bold;
}

.textRight {
    text-align: right !important;
}

.addBtnBottomGap {
    padding-bottom: 10px;
    // padding-right: 10px;
}

.inputWidth {
    width: 100% !important;
}

.redStar {
    color: red;
}

.ui-autocomplete .ui-autocomplete-input {
    width: 100% !important;
}

.ui-autocomplete {
    width: 100% !important;
}

.selectErrorGap {
    margin-left: -4px !important;
}

.ui-dropdown-panel .ui-dropdown-item.ui-state-highlight {
    width: 111% !important;
}

.top {
    margin-top: 10px;
}

.amtClass {
    font-weight: bold !important;
    // margin: 3px;
    // padding: 5px;
    // border-radius: 3px;
    // display: block;
}

.padding0 {
    padding: 0;
}

.left {
    padding-left: 10px;
}

.background {
    background: #00BCD4 !important;
    color: #fff !important;
    border-radius: 3px !important;
    // word-break: break-word !important;
    // max-height: 36px !important;
    margin-right: 10px;
    // padding-bottom: 4px;
    padding-top: 7px !important;
    padding-right: 5px !important;
}

.nameDisplay {
    // margin-top: -10px !important;
    margin-left: 3px !important;
    padding-right: 3px !important;
}

.ui-inputtext {
    width: 100% !important;
}

.iconBtmGap {
    padding-bottom: 6px !important;
}

.right {
    float: right !important;
}

.listMaxHeight {
    max-height: 510px;
    overflow-y: auto !important;
}

input.upload {
    position: absolute;
    z-index: 999;
    margin-left: -43%;
    margin-top: 10%;
    opacity: 0;
}

.pointer {
    cursor: pointer;
}

input[type=file]::-webkit-file-upload-button {
    /* chromes and blink button */
    cursor: pointer !important;
}

.top10 {
    margin-top: 10px !important;
}

.borderaround {
    border: 1p xsolid #ccc !important;
}

.ui-widget-content {
    width: 100% !important;
}

.ui-dropdown-panel .ui-dropdown-items-wrapper {
    overflow-x: hidden !important;
}

.overlay {
    z-index: 1000000 !important;
}

.nsm-content {
    width: 600px !important;
    right: 15% !important;
}

.login-body .login-panel .login-panel-content h1 {
    font-size: 23px !important;
    margin-top: -33px !important;
    margin-bottom: 7px !important;
    text-align: center;
}

.textCenter {
    text-align: center !important;
}

.ui-datatable .ui-datatable-data>tr>td {
    border-color: #ccc !important;
}

// filtet form dynamic options
.dropdown-content {
    display: none;
    position: absolute;
    width: 46%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ddd;
    max-height: 262px;
    z-index: 1;
    background: #f9f9f9;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.hide {
    display: block;
}

.border {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 11px;
}

.labelTopGap {
    margin-top: 3px !important;
}

.bold {
    font-weight: bold !important;
}

.paddRight0 {
    padding-right: 0 !important;
}

input[type="text"]:read-only {
    color: #000 !important;
    font-weight: normal !important;
}

.ui-widget-content {
    border: 0px solid #d8d8d8 !important;
}

.left0 {
    padding-left: 0 !important;
}