<div class="card ui-g-12 minHeight">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-1 ui-g-nopad">
            <button pButton type="button" *ngIf="!isView" icon="ui-icon-undo" (click)="clickedOnView();" tooltipPosition="bottom" pTooltip="{{'View Classes' | translate}}"></button>
        </div>
        <div class="ui-g-6 ui-g-nopad top10">
            <span class="ui-panel-title title" *ngIf="isView">{{ 'Classes' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="isAdd">{{ 'Add New Class' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="!isAdd && !isView">{{ 'Update Class ' | translate }}-{{editId.name}}</span>
        </div>
        <div class=" ui-g-4">
            <span></span>
            <!-- <input type="text" #uw class="color inputWidth" *ngIf="isView" placeholder="{{ 'Filter...' | translate }}" pInputText icon="ui-icon-refresh"> -->
        </div>
        <div class="ui-g-1" *ngIf="isView"></div>
        <div class="ui-g-1 ui-g-nopad textRight addBtnBottomGap">
            <button pButton type="button" *ngIf="(!isAdd)" icon="fa-plus" (click)="clickedOnAdd();" tooltipPosition="bottom" pTooltip="{{'Add New Class' | translate}}"></button>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad" *ngIf="isView">
        <p-dataTable [value]="documentResult" (onRowClick)="editClass($event)" selectionMode="single" [responsive]="true" emptyMessage="{{'No records found' | translate}}">
            <p-column field="name" header="{{'Name' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="symName" header="{{'Symbolic Name' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column header="{{'Reindex' | translate}}" [style]="{'width': '100' + 'px'}">
                <ng-template pTemplate="body">
                    <i class="material-icons ui-icon-refresh" (click)="reindex()"></i>
                </ng-template>
            </p-column>
        </p-dataTable>

    </div>
    <div class="ui-g-12 ui-g-nopad top10" *ngIf="!isView">
        <div class="ui-g-2"></div>
        <div class="ui-g-8">
            <form [formGroup]="classFrom" #myformClass="ngForm">
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue" required> Name <span class="redStar">*</span></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <span class="md-inputfield">
                        <input type="text" placeholder="Enter Name"  pInputText class="ui-inputtext ui-corner-all ui-widget"  [formControl]="classFrom.controls['name']" [ngClass]="{'ng-dirty ng-invalid': classFrom.controls['name'].hasError('required') && classFrom.controls['name'].touched}" required (input)="addSymname($event)">
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="classFrom.controls['name'].hasError('required') && (classFrom.controls['name'].touched || myformClass.submitted)">
                         Name is required.
                        </div>
                    </span>
                    </div>
                </div>
                <br>
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue" required>Symbolic Name <span class="redStar">*</span></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <span class="md-inputfield">
                        <input type="text" placeholder="Enter Symbolic Name"  pInputText class="ui-inputtext ui-corner-all ui-widget"  [formControl]="classFrom.controls['symName']" [ngClass]="{'ng-dirty ng-invalid': classFrom.controls['symName'].hasError('required') && classFrom.controls['symName'].touched}" required>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="classFrom.controls['symName'].hasError('required') && (classFrom.controls['symName'].touched || myformClass.submitted)">
                         Symbolic name is required.
                        </div>
                    </span>
                    </div>
                </div>
                <br>


                <div class="ui-g-12">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left" (click)="cancelAdd()">
                                        <span class="ui-button-icon-left fa fa-close"></span>
                                        <span class="ui-button-text clearWidthBtn">Clear</span>
                                    </button>
                    </div>
                    <div class="ui-g-3" *ngIf="isAdd">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" [disabled]="classFrom.invalid" (click)="classFormSubmitted(classFrom)">
                                <span class="ui-button-icon-left fa fa-plus"></span>
                                <span class="ui-button-text">Save</span>
                            </button>
                    </div>
                    <div class="ui-g-3" *ngIf="!isAdd">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" [disabled]="classFrom.invalid" (click)="classFormSubmitted(classFrom)">
                                <span class="ui-button-icon-left fa fa-plus"></span>
                                <span class="ui-button-text">Update</span>
                            </button>
                    </div>
                    <div class="ui-g-3"></div>
                </div>
            </form>
            <br>
            <div class="ui-g-12 ui-g-nopad" *ngIf="!isAdd">
                <p-tabView (onChange)="onTabChange($event)">
                    <!-- [activeIndex]="activeIndexNumber"  -->
                    <p-tabPanel header="Properties" leftIcon="ui-icon-info">
                        <div class="ui-g">
                            <p-accordion>
                                <p-accordionTab header="Properties" [selected]="selectedTabProperty1 === true">
                                    <div class="ui-g">
                                        <div class="ui-g-12 ui-g-nopad" *ngIf="propList">
                                            <div class="ui-g-12 top10 ui-g-nopad">
                                                <div class="ui-g-4 bold ">Name</div>
                                                <div class="ui-g-3 bold ">Symbolic Name</div>
                                                <div class="ui-g-3 bold ">Data Type</div>
                                                <div class="ui-g-2"></div>
                                            </div>
                                            <div class=" ui-g-12 ui-g-nopad padding overScroll" *ngFor="let value of documentResult">
                                                <div [class]="editId.id === value.id ? ' ui-g-12  ui-g-nopad' : ' ui-g-12 ui-g-nopad'" *ngFor="let result of value.props">
                                                    <div class="ui-g-4" *ngIf="editId.id === value.id">{{result.name}}</div>
                                                    <!-- <div class="ui-g-3 " *ngIf="editId.id === value.id"><span *ngIf="result.inheritDepth === 0">This Object Only</span>
                                                        <span *ngIf="result.inheritDepth === 1">Inherit</span>
                                                    </div> -->
                                                    <div class="ui-g-3 " *ngIf="editId.id === value.id">{{result.symName}}</div>
                                                    <div class="ui-g-3 " *ngIf="editId.id === value.id">{{result.dtype}}</div>
                                                    <div class="ui-g-2 " *ngIf="editId.id === value.id">
                                                        <button pButton type="button" tooltipPosition="top" pTooltip="{{'Delete Property' | translate}}" icon="fa-close" (click)="deletePropertyAlert(result)"></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p-accordionTab>
                                <p-accordionTab header="{{ 'Add Property' | translate}}" [selected]="selectedTabProperty2 === true">
                                    <div class="ui-g">
                                        <div class="ui-g-12 ui-g-nopad">
                                            <form [formGroup]="propform" (ngSubmit)="propFormSubmitted(propform)" #myformProperty="ngForm">
                                                <div class="ui-g-12 form-group">
                                                    <div class="ui-g-12 ">
                                                        <label>Select Property Template<sup class="redStar">*</sup></label>
                                                    </div>
                                                    <div class="ui-g-12">
                                                        <div class="ui-grid ui-grid-responsive ui-fluid">
                                                            <div class=" ui-grid-row ">
                                                                <div class="ui-grid-col-12 dropdownTop">
                                                                    <p-dropdown [options]="propTemplatesDrop" [autoWidth]="false" formControlName="propid" filter="true" placeholder="Select Property Template"></p-dropdown>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="ui-g-12 form-group">
                                                    <div class="ui-g-12 ">
                                                        <label>Required<sup class="redStar">*</sup></label>
                                                    </div>
                                                    <div class="ui-g-12">
                                                        <div class="ui-g-3 ui-sm-6">
                                                            <p-radioButton name="group2" value="1" label="True" checked inputId="preopt1" (onClick)="radioChanged($event)" [(ngModel)]="propform.controls['required'].value" formControlName="required"></p-radioButton>
                                                        </div>
                                                        <div class="ui-g-3 ui-sm-6">
                                                            <p-radioButton name="group2" value="0" label="False" inputId="preopt2" (onClick)="radioChanged($event)" [(ngModel)]="propform.controls['required'].value" formControlName="required"></p-radioButton>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <br>
                                                <div class="ui-g-12">
                                                    <div class="ui-g-3"></div>
                                                    <div class="ui-g-3">
                                                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left right" (click)="cancelAddProp()">
                                                                    <span class="ui-button-icon-left fa fa-close"></span>
                                                                    <span class="ui-button-text clearWidthBtn">Clear</span>
                                                                </button>
                                                    </div>
                                                    <div class="ui-g-3" *ngIf="!isAdd">
                                                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width left" [disabled]="propform.invalid">
                                                            <span class="ui-button-icon-left fa fa-plus"></span>
                                                            <span class="ui-button-text">Add</span>
                                                        </button>
                                                    </div>

                                                    <div class="ui-g-3"></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </p-accordionTab>

                            </p-accordion>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel class="ui-g-nopad global-sales " header="{{'Permissions' | translate }}" leftIcon="ui-icon-control-point">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-g-nopad">
                                <p-accordion>
                                    <p-accordionTab header="Permissions" [selected]="selectedTab1 === true">
                                        <div class="ui-g">
                                            <div class="ui-g-12 ui-g-nopad" *ngIf="permissionList">
                                                <div class="ui-g-12 top10 ui-g-nopad">
                                                    <div class="ui-g-4 bold ">Role Name</div>
                                                    <div class="ui-g-3 bold ">Access Type</div>
                                                    <div class="ui-g-3 bold ">Access Level</div>
                                                    <div class="ui-g-2"></div>
                                                </div>
                                                <div class=" ui-g-12 ui-g-nopad padding overScroll" *ngFor="let value of documentResult">
                                                    <div [class]="editId.id === value.id ? ' ui-g-12  ui-g-nopad' : ' ui-g-12 ui-g-nopad'" *ngFor="let result of value.permissions">
                                                        <div class="ui-g-4" *ngIf="editId.id === value.id">{{result.granteeName}}</div>
                                                        <div class="ui-g-3 " *ngIf="editId.id === value.id"><span *ngIf="result.inheritDepth === 0">This Object Only</span>
                                                            <span *ngIf="result.inheritDepth === 1">Inherit</span>
                                                        </div>
                                                        <div class="ui-g-3 " *ngIf="editId.id === value.id">{{result.accessLevel}}</div>
                                                        <div class="ui-g-2 " *ngIf="editId.id === value.id">
                                                            <button pButton type="button" tooltipPosition="top" pTooltip="{{'Delete Permission' | translate}}" icon="fa-close" (click)="deletePermissionAlert(result)"></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </p-accordionTab>
                                    <p-accordionTab header="{{ 'Add Permission' | translate}}" [selected]="selectedTab2 === true">
                                        <div class="ui-g">
                                            <div class="ui-g-12 ui-g-nopad">
                                                <form [formGroup]="permissionForm" (ngSubmit)="permissionFormSubmitted(permissionForm)" #myformDelegate="ngForm">
                                                    <div class="ui-g-12 form-group">
                                                        <div class="ui-g-12  ">
                                                            <label>Select Role<sup class="redStar">*</sup></label>
                                                        </div>
                                                        <div class="ui-g-12 ui-g-nopad">
                                                            <div class=" ui-grid ui-grid-responsive ui-fluid">
                                                                <div class=" ui-grid-row ">
                                                                    <div class="ui-grid-col-12 ">
                                                                        <p-autoComplete formControlName="proproleid" [(ngModel)]="dbDummyValue" field="name" [suggestions]="dbvalue" searchtext (completeMethod)="onSearchAutoStextTA($event)" [multiple]="false" [id]="'idname'" [dropdown]="true" [minLength]="3" placeholder="{{' Search Role' | translate}}"
                                                                            (onSelect)="selectSingle($event)" [ngClass]="{'ng-dirty ng-invalid': permissionForm.controls['proproleid'].hasError('required') && permissionForm.controls['proproleid'].touched && permissionForm.controls['proproleid'].invalid}"></p-autoComplete>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="ui-g-12 form-group">
                                                        <div class="ui-g-12 ">
                                                            <label>Applies To<sup class="redStar">*</sup></label>
                                                        </div>
                                                        <div class="ui-g-12">
                                                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                                                <div class=" ui-grid-row ">
                                                                    <div class="ui-grid-col-12 dropdownTop">
                                                                        <p-dropdown [options]="accessTypeOptions" [autoWidth]="false" formControlName="propaccesstype" placeholder="Select Access Type" (onChange)="accessTypeChanged($event)"></p-dropdown>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="ui-g-12 form-group">
                                                        <div class="ui-g-12 ">
                                                            <label>Access Level<sup class="redStar">*</sup></label>
                                                        </div>
                                                        <div class="ui-g-12">
                                                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                                                <div class=" ui-grid-row ">
                                                                    <div class="ui-grid-col-12 dropdownTop" *ngIf="showClassDropDown">
                                                                        <p-dropdown [options]="accessLevelDrop" [autoWidth]="false" formControlName="propaccesslevel" placeholder="Select Access Level" (onChange)="accessLevelChanged($event)"></p-dropdown>
                                                                    </div>
                                                                    <div class="ui-grid-col-12 dropdownTop" *ngIf="!showClassDropDown">
                                                                        <p-dropdown [options]="accessLevelSmall" [autoWidth]="false" formControlName="propaccesslevel" placeholder="Select Access Level" (onChange)="accessLevelChanged($event)"></p-dropdown>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="ui-g-12">
                                                        <div class="ui-g-3"></div>
                                                        <div class="ui-g-3">
                                                            <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left right" (click)="cancelAddPermission()">
                                                                        <span class="ui-button-icon-left fa fa-close"></span>
                                                                        <span class="ui-button-text clearWidthBtn">Clear</span>
                                                                    </button>
                                                        </div>
                                                        <div class="ui-g-3" *ngIf="!isAdd">
                                                            <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width left" [disabled]="permissionForm.invalid">
                                                                <span class="ui-button-icon-left fa fa-plus"></span>
                                                                <span class="ui-button-text">Add</span>
                                                            </button>
                                                        </div>

                                                        <div class="ui-g-3"></div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </p-accordionTab>

                                </p-accordion>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </div>

        </div>


    </div>
</div>
<ngx-smart-modal #reindexAlertModel identifier="reindexAlertModel" (onClose)="websocketNotop10en = false">
    <div class="modal-header">
        <h4 class="text-center top100 btmborder">Confirmation!</h4>
    </div>
    <div class="modal-body ">
        <p> This will take more time so please do it after working hours.</p>
        <label>Are you sure to reindex?</label>
    </div>
    <div class="modal-footer">
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-8 ui-g-nopad"></div>
            <div class="ui-g-4 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="reindexAlertModel.close(); this.reIndexClicked = false;">
                    <span class="ui-button-icon-left fa fa-close"></span>
                    <span class="ui-button-text">No</span>
                </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="reindexAlertModel.close(); reindexConfirmed()">
                    <span class="ui-button-icon-left fa fa-check"></span>
                    <span class="ui-button-text">Yes</span>
                </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>
<ngx-smart-modal #deleteConfirmationAlert identifier="deleteConfirmationAlert" (onClose)="websocketNotop10en = false">
    <div class="modal-header">
        <h4 class="text-center top100 btmborder">Confirmation!</h4>
    </div>
    <div class="modal-body " *ngIf="dbvalue">
        <label>This permission is going to delete, are you sure?</label>
    </div>
    <div class="modal-footer">
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-8 ui-g-nopad"></div>
            <div class="ui-g-4 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="deleteConfirmationAlert.close();">
                    <span class="ui-button-icon-left fa fa-close"></span>
                    <span class="ui-button-text">No</span>
                </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="deleteConfirmationAlert.close(); deletePermissionConfirmed()">
                    <span class="ui-button-icon-left fa fa-check"></span>
                    <span class="ui-button-text">Yes</span>
                </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>
<ngx-smart-modal #deletePropertyConfirmationAlert identifier="deletePropertyConfirmationAlert" (onClose)="websocketNotop10en = false">
    <div class="modal-header">
        <h4 class="text-center top100 btmborder">Confirmation!</h4>
    </div>
    <div class="modal-body " *ngIf="dbvalue">
        <label>This property is going to delete, are you sure?</label>
    </div>
    <div class="modal-footer">
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-8 ui-g-nopad"></div>
            <div class="ui-g-4 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="deletePropertyConfirmationAlert.close();">
                    <span class="ui-button-icon-left fa fa-close"></span>
                    <span class="ui-button-text">No</span>
                </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="deletePropertyConfirmationAlert.close(); deletePropertyConfirmed()">
                    <span class="ui-button-icon-left fa fa-check"></span>
                    <span class="ui-button-text">Yes</span>
                </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>