<div class="card ui-g-12 minHeight">
    <div class="ui-g-12 ">
        <div class="ui-g-1 left0 ui-g-nopad">
            <button pButton type="button" *ngIf="!isView" icon="ui-icon-undo" (click)="clickedOnView();" tooltipPosition="bottom" pTooltip="{{'View Existing Organisation' | translate}}"></button>
        </div>
        <div class="ui-g-6 ui-g-nopad top10">
            <span class="ui-panel-title title" *ngIf="isView">{{ 'Organisations' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="isAdd">{{ 'Add New Organisation' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="!isAdd && !isView">{{ 'Update Organisation' | translate }}</span>
        </div>
        <div class="ui-g-4"></div>
        <div class="ui-g-1" *ngIf="isView">

        </div>
        <div class="ui-g-1 ui-g-nopad textRight addBtnBottomGap">
            <button pButton type="button" *ngIf="(!isAdd)" icon="fa-plus" (click)="clickedOnAdd();" tooltipPosition="bottom" pTooltip="{{'Add New Organisation' | translate}}"></button>
        </div>

    </div>
    <div class="ui-g-12 ui-g-nopad">

        <div class="ui-g-6" *ngIf="isView && !isAdd">
            <app-orgtree [repository]="repository" (selectedOrg)="edit($event)" (topClick)="clickedOnTop($event)" [addingNode]="addingNewNode" style="width:100%"></app-orgtree>
        </div>
        <div class="ui-g-5" *ngIf="!isView && !isAdd">
            <app-orgtree [repository]="repository" (selectedOrg)="patchValue($event)" (topClick)="clickedOnTop($event)" [addingNode]="addingNewNode" style="width:100%"></app-orgtree>
        </div>
        <div class="ui-g-5" *ngIf="!isView && isAdd">
            <app-orgtree [repository]="repository" (selectedOrg)="patchParentValue($event)" [addingNode]="addingNewNode" (topClick)="topClicked($event)" style="width:100%"></app-orgtree>
        </div>

        <div class="ui-g-7 ui-g-nopad" *ngIf="!isView">
            <form [formGroup]="orgForm" (ngSubmit)="orgFormSubmitted(orgForm)" #myformUser="ngForm">
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue" required>Organisation Name <span class="redStar">*</span></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <span class="md-inputfield">
                            <input type="text" placeholder="Enter Organisation Name"  pInputText class="ui-inputtext ui-corner-all ui-widget"  [formControl]="orgForm.controls['name']" [ngClass]="{'ng-dirty ng-invalid': orgForm.controls['name'].hasError('required') && orgForm.controls['name'].touched}" required>
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="orgForm.controls['name'].hasError('required') && (orgForm.controls['name'].touched || myformUser.submitted)">
                            Organisation name is required.
                            </div>
                            <div *ngIf="orgForm.controls['name'].errors?.minlength" class="ui-message ui-messages-error ui-corner-all">
                                Organisation name should contains atleast 3 charecters
                            </div>
                        </span>
                    </div>
                </div>
                <div class="ui-g-12 form-group" *ngIf="orgForm.controls['id'].value !==1">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue" required>Parent Organization <span class="redStar">*</span></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <span class="md-inputfield">
                        <span  (click)="selectOrg()">
                            <input type="text" placeholder="Select Parent Organization"  pInputText class="ui-inputtext ui-corner-all ui-widget pointer"  [formControl]="orgForm.controls['parentName']" [ngClass]="{'ng-dirty ng-invalid': orgForm.controls['parentName'].hasError('required') && orgForm.controls['parentName'].touched}" required readonly="true" >
                        </span>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="orgForm.controls['parentName'].hasError('required') && (orgForm.controls['parentName'].touched || myformUser.submitted)">
                            Parent organization is required.
                        </div>
                        </span>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue">Select Head Role</label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class=" ui-grid-row ">

                                <div class="ui-grid-col-12 dropdownTop">
                                    <!-- [(ngModel)]="rolesSelect" -->
                                    <p-dropdown [options]="rolesList" id="headRoleid" [autoWidth]="false" class="ui-inputtext ui-corner-all ui-widget pointer" [formControl]="orgForm.controls['headRoleId']" filter="true" placeholder="Select Head Role" (onChange)="roleValueChanged($event)"
                                        [ngClass]="{'ng-dirty ng-invalid': orgForm.controls['headRoleId'].hasError('required') && orgForm.controls['headRoleId'].touched}" ></p-dropdown>
                                </div>
                                <br>


                            </div>
                        </div>
                        <div class="ui-g-12">
                            <span class="md-inputfield">
                                            <div class="ui-message ui-messages-error ui-corner-all selectErrorGap" *ngIf="orgForm.controls['headRoleId'].hasError('required') && (orgForm.controls['headRoleId'].touched || myformUser.submitted)">
                                                Head role is required.
                                            </div>
                                        </span>
                        </div>
                    </div>

                </div>
                <div class="ui-g-12" *ngIf="orgForm.controls.headRoleName.value">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue"> Head User</label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class=" ui-grid-row ">
                                <div class="ui-grid-col-12 dropdownTop">
                                    <p-dropdown [options]="roleMembers" id="headRoleUser" [autoWidth]="false" [formControl]="orgForm.controls['headEmpNo']" filter="true" placeholder="Select Head User"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue" required>Organisation Code </label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <span class="md-inputfield">
                            <input type="text" placeholder="Enter Organisation code"  pInputText class="ui-inputtext ui-corner-all ui-widget"  [formControl]="orgForm.controls['orgCode']" >
                        </span>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left" (click)="cancelAdd()">
                                            <span class="ui-button-icon-left fa fa-close"></span>
                                            <span class="ui-button-text clearWidthBtn">Clear</span>
                                        </button>
                    </div>
                    <div class="ui-g-3" *ngIf="isAdd">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width">
                                    <span class="ui-button-icon-left fa fa-plus"></span>
                                    <span class="ui-button-text">Save</span>
                                </button>
                    </div>
                    <div class="ui-g-3" *ngIf="!isAdd">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width">
                                    <span class="ui-button-icon-left fa fa-plus"></span>
                                    <span class="ui-button-text">Update</span>
                                </button>
                    </div>
                    <div class="ui-g-3"></div>
                </div>
            </form>
        </div>

    </div>
</div>