<div class="card ui-g-12 minHeight">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-1 ui-g-nopad left0">
            <button pButton type="button" *ngIf="!isView" icon="ui-icon-undo" (click)="clickedOnView();" tooltipPosition="bottom" pTooltip="{{'View Delegation List' | translate}}"></button>
        </div>
        <div class="ui-g-6 ui-g-nopad top10">
            <span class="ui-panel-title title" *ngIf="isView">{{ 'Delegation List' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="isAdd">{{ 'Add New Delegation' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="!isAdd && !isView">{{ 'Update Delegation' | translate }}</span>
        </div>
        <div class=" ui-g-4">
            <span></span>
        </div>
        <div class="ui-g-1" *ngIf="isView"></div>
        <div class="ui-g-1 ui-g-nopad textRight addBtnBottomGap">
            <button pButton type="button" *ngIf="(!isAdd)" icon="fa-plus" (click)="clickedOnAdd();" tooltipPosition="bottom" pTooltip="{{'Add New Delegation' | translate}}"></button>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad" *ngIf="isView">
        <p-dataTable [value]="source" (onRowClick)="editDelegations($event)" selectionMode="single" [paginator]="true" [rows]="15" [responsive]="true" emptyMessage="{{'No records found' | translate}}">
            <p-column field="empName" header="{{'Delegated From' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="delName" header="{{'Delegated To' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="fromDate" header="{{'From Date' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="toDate" header="{{'To Date' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="delegatedOn" header="{{'Delegated On' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="status" header="{{'Status' | translate}}" [sortable]="true" [style]="{'width': '100' + 'px'}" [filter]="true"></p-column>
        </p-dataTable>
    </div>
    <div class="ui-g-12 ui-g-nopad top10" *ngIf="!isView">
        <div class="ui-g-2"></div>
        <div class="ui-g-8 ui-g-nopad">
            <form [formGroup]="delegationForm" (ngSubmit)="delagationFormSubmitted(delegationForm)" #myformDelegate="ngForm">
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue">Delegation From<sup class="redStar">*</sup></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class=" ui-grid-row ">
                                    <div class="ui-grid-col-12 dropdownTop margtop">
                                        <p-dropdown [options]="usersList" [autoWidth]="false" formControlName="fromValue" [(ngModel)]="delegationForm.controls['fromValue'].value" filter="true" optionLabel="label" placeholder="Select Role" (onChange)="delegateFromSelected($event)" [disabled]="isDiableFromDelegate"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui-g-12  form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue">Delegation To<sup class="redStar">*</sup></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class=" ui-grid-row ">
                                    <div class="ui-grid-col-12 dropdownTop margtop">
                                        <p-dropdown [options]="usersList" [autoWidth]="false" formControlName="toValue" [(ngModel)]="delegationForm.controls['toValue'].value" filter="true" optionLabel="label" placeholder="Select Role" (onChange)="delegatedToSelected($event)"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui-g-12  form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue">Delegation From<sup class="redStar">*</sup></label>
                    </div>
                    <div class="ui-grid ui-grid-responsive ui-fluid">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12 margtop">
                                <p-calendar [showIcon]="true" [name]="'fromdate'" placeholder="Select From Date" dateFormat="dd/mm/yy" [minDate]="fromMinDate" [id]="'from1'" formControlName="fromDate" (onSelect)="FromDateChanged($event)" (onTabClick)="FromDateChanged($event)"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui-g-12  form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue">Delegation To<sup class="redStar">*</sup></label>
                    </div>
                    <div class="ui-grid ui-grid-responsive ui-fluid">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12 margtop">
                                <p-calendar [showIcon]="true" [name]="'todate'" placeholder="Select To Date" dateFormat="dd/mm/yy" [minDate]="toMinDate" [id]="'to1'" formControlName="toDate" (onSelect)="toDateChanged($event)"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui-g-12 form-group">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left" (click)="cancelAdd()">
                                          <span class="ui-button-icon-left fa fa-close"></span>
                                          <span class="ui-button-text clearWidthBtn">Clear</span>
                                      </button>
                    </div>
                    <div class="ui-g-3" *ngIf="isAdd">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" [disabled]="delegationForm.invalid">
                                  <span class="ui-button-icon-left fa fa-plus"></span>
                                  <span class="ui-button-text">Save</span>
                              </button>
                    </div>
                    <div class="ui-g-3" *ngIf="!isAdd">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" [disabled]="delegationForm.invalid">
                                  <span class="ui-button-icon-left fa fa-plus"></span>
                                  <span class="ui-button-text">Update</span>
                              </button>
                    </div>
                    <div class="ui-g-3"></div>
                </div>
                <br>
                <div class="ui-g-12 form-group" *ngIf="!isAdd">
                    <div class="ui-g-3 ui-g-nopad padTop labelmargbtm">
                        <label class="blue">Revoke Delegation : </label>
                    </div>
                    <div class="ui-g-2">
                        <button type="button" pButton class="ui-button-icon-primary" icon="ui-icon-airplanemode-inactive" tooltipPosition="top" pTooltip="{{'Inactivate' | translate}}" (click)="openRevokeModal()"></button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<ngx-smart-modal #confirmDelegateRovoke identifier="confirmDelegateRovoke" (onClose)="websocketNotOpen = false">
    <div class="modal-header">
        <h4 class="text-center top0 btmborder">Confirmation!</h4>
    </div>
    <div class="modal-body ">
        <label> This delegation is going to inactive, are you sure?</label>
    </div>
    <div class="modal-footer">
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-8 ui-g-nopad"></div>
            <div class="ui-g-4 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="confirmDelegateRovoke.close();">
                  <span class="ui-button-icon-left fa fa-close"></span>
                  <span class="ui-button-text">No</span>
              </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="confirmDelegateRovoke.close(); revokeDelegation()">
                  <span class="ui-button-icon-left fa fa-check"></span>
                  <span class="ui-button-text">Yes</span>
              </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>