.padTop {
    padding-top: 15px !important;
}
.labelmargbtm {
    margin-bottom: 5px;
}
.margbtm {
    margin-bottom: 20px;
    margin-left: -2px;
}
.blue {
    color: cadetblue;
}
.margtop {
    margin-top: 10px; 
    margin-bottom: 10px; 
    margin-left: -1px;
}