<div class="card ui-g-12 minHeight">
    <div class="ui-g-12 ui-g-nopad">
        <div class="ui-g-1 ui-g-nopad left0">
            <button pButton type="button" *ngIf="!isView" icon="ui-icon-undo" (click)="clickedOnView();" tooltipPosition="bottom" pTooltip="{{'View Existing Roles' | translate}}"></button>
        </div>
        <div class="ui-g-6 ui-g-nopad top10">
            <span class="ui-panel-title title" *ngIf="isView">{{ 'Roles' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="isAdd">{{ 'Add New Role' | translate }}</span>
            <span class="ui-panel-title title" *ngIf="!isAdd && !isView">{{ 'Update Role' | translate }}</span>
        </div>
        <div class=" ui-g-4">
        </div>
        <div class="ui-g-1" *ngIf="isView"></div>

        <div class="ui-g-1 ui-g-nopad textRight addBtnBottomGap">
            <button pButton type="button" *ngIf="(!isAdd)" icon="fa-plus" (click)="clickedOnAdd();" tooltipPosition="bottom" pTooltip="{{'Add New Role' | translate}}"></button>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad" *ngIf="isView">
        <p-dataTable [value]="source" (onRowClick)="editRoles($event)" selectionMode="single" [paginator]="true" [rows]="15" [responsive]="true" emptyMessage="{{'No records found' | translate}}">
            <p-column field="name" header="{{'Name' | translate}}" [sortable]="true" [filter]="true"></p-column>
            <p-column field="orgName" header="{{'Organization' | translate}}" [sortable]="true" [filter]="true"></p-column>
        </p-dataTable>
    </div>
    <div class=" ui-g-12 ui-g-nopad top10" *ngIf="!isView">
        <div class="ui-g-5 ui-g-nopad">
            <app-orgtree [repository]="repository" (selectedOrg)="editTree($event)" [callingFrom]="callingName" (topClick)="clickedOnView()" [addingNode]="addingNewNode" style="width:100%"></app-orgtree>
        </div>
        <div class="ui-g-7 ui-g-nopad">
            <form [formGroup]="formRole" (ngSubmit)="roleFormSubmitted(formRole)" #myformUser="ngForm">
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue" required>Role Name <span class="redStar">*</span></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <span class="md-inputfield">
                          <input type="text" placeholder="Enter User Name"  pInputText class="ui-inputtext ui-corner-all ui-widget"  [formControl]="formRole.controls['name']" [ngClass]="{'ng-dirty ng-invalid': formRole.controls['name'].hasError('required') && formRole.controls['name'].touched}" required>
                          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="formRole.controls['name'].hasError('required') && (formRole.controls['name'].touched || myformUser.submitted)">
                          Role name is required.
                          </div>
                      </span>
                    </div>
                </div>
                <div class="ui-g-12 form-group">
                    <div class="ui-g-12 ui-g-nopad labelmargbtm">
                        <label class="blue" required>Organization <span class="redStar">*</span></label>
                    </div>
                    <div class="ui-g-12 ui-g-nopad margbtm">
                        <span class="md-inputfield">
                      <span  (click)="selectOrg()">
                          <input type="text" placeholder="Select Organization"  pInputText class="ui-inputtext ui-corner-all ui-widget pointer"  [formControl]="formRole.controls['orgName']" [ngClass]="{'ng-dirty ng-invalid': formRole.controls['orgName'].hasError('required') && formRole.controls['orgName'].touched}" required readonly="true" >
                      </span>
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="formRole.controls['orgName'].hasError('required') && (formRole.controls['orgName'].touched || myformUser.submitted)">
                            Organization is required.
                        </div>
                        </span>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left" (click)="cancelAdd()">
                                          <span class="ui-button-icon-left fa fa-close"></span>
                                          <span class="ui-button-text clearWidthBtn">Clear</span>
                                      </button>
                    </div>
                    <div class="ui-g-3" *ngIf="isAdd">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width">
                                  <span class="ui-button-icon-left fa fa-plus"></span>
                                  <span class="ui-button-text">Save</span>
                              </button>
                    </div>
                    <div class="ui-g-3" *ngIf="!isAdd">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width">
                                  <span class="ui-button-icon-left fa fa-plus"></span>
                                  <span class="ui-button-text">Update</span>
                              </button>
                    </div>
                    <div class="ui-g-3"></div>
                </div>
            </form>

        </div>
        <br>
        <br>
        <div class="ui-g-7 ui-g-nopad top" *ngIf="!isAdd">
            <div class="ui-g-12 ui-g-nopad" *ngIf="showRoleUsers.length > 0">
                <div class="ui-g-12 ui-g-nopad left labelmargbtm">
                    <label class="blue">User List</label>
                </div>
                <div class="ui-g-12 ui-g-nopad left margbtm">
                    <div class="ui-g-12 ui-g-nopad" *ngFor="let value of showRoleUsers" class="top background" style="display: inline-block">
                        <span class="amtClass top">
                                    <div class="ui-g-12 ui-g-nopad nameDisplay "><div class="ui-g-10 ui-g-nopad ">{{value.fulName}}</div><div class="ui-g-2 ui-g-nopad"><i class=" material-icons fa-close pointer" (click)="removeUser(value)"></i></div></div>

                        </span>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <form [formGroup]="addUserToRoleForm" (ngSubmit)="addUserToRole(addUserToRoleForm.controls['userName'])" #userRole="ngForm">
                <div class="ui-g-12 top labelmargbtm">
                    <label class="blue">Add User<sup class="redStar">*</sup></label>
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class=" ui-grid-row ">
                                <div class="ui-grid-col-12 dropdownTop" style="margin-top: 10px; margin-left: -2px;">
                                    <p-dropdown [options]="filterUser" [autoWidth]="false" [formControl]="addUserToRoleForm.controls['userName']" filter="true" placeholder="Select User" (onChange)="userNamechanged($event)"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-3"></div>
                    <div class="ui-g-3">
                        <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="cancelRoleAdd()">
                                                    <span class="ui-button-icon-left fa fa-close"></span>
                                                    <span class="ui-button-text">No</span>
                                                </button>
                    </div>
                    <div class="ui-g-3">
                        <button type="submit" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width">
                                            <span class="ui-button-icon-left fa fa-plus"></span>
                                            <span class="ui-button-text">Add</span>
                                        </button>
                    </div>
                    <div class="ui-g-3"></div>
                </div>

            </form>
        </div>
    </div>

</div>
<ngx-smart-modal #deleteRoleUsers identifier="deleteRoleUsers" (onClose)="websocketNotOpen = false">
    <div class="modal-header">
        <h4 class="text-center top0 btmborder">Confirmation!</h4>
    </div>
    <div class="modal-body " *ngIf="dbvalue">
        <label> {{dbvalue.fulName}} will remove, are you sure?</label>
    </div>
    <div class="modal-footer">
        <div class=" ui-g ui-g-12 ui-g-nopad">
            <div class="ui-g-8 ui-g-nopad"></div>
            <div class="ui-g-4 ui-g-nopad text-right">

                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="deleteRoleUsers.close();">
                        <span class="ui-button-icon-left fa fa-close"></span>
                        <span class="ui-button-text">No</span>
                    </button>
                <button type="button" class="ui-button ui-widget ui-corner-all ui-button-text-icon-left width" (click)="deleteRoleUsers.close(); deleteConfirmed()">
                        <span class="ui-button-icon-left fa fa-check"></span>
                        <span class="ui-button-text">Yes</span>
                    </button>
            </div>
        </div>
    </div>
</ngx-smart-modal>